<div class="col-sm-4" id="<%= dom_id(assessment) %>">
  <div class="card text-white bg-dark mb-3">
    <div class="card-header"><%= fa_icon("check-square", text: "Assessment") %></div>
    <div class="card-body">
      <h5 class="card-title"><%= assessment.name %></h5>
      <p class="card-text">Type:&nbsp;<span class="badge badge-primary"><%= assessment.assessment_type.name %></span></p>
      <p class="card-text">Assessment Value: <span class="badge badge-secondary"><%= assessment.value %></span></p>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-sm-6">
          <%= link_to [assessment.lesson_plan, assessment], method: :delete, remote: true,
            data: { confirm: 'Are you absolutely sure?' },
            class: "btn btn-sm btn-danger btn-block-xs delete-assessment" do %>
              <%= fa_icon("trash-alt", text: "Delete", style: "regular") %>
            <% end %>
        </div>
        <div class="col-sm-6">
          <%= link_to [assessment.lesson_plan, assessment], class: "btn btn-sm btn-primary btn-block" do %>
          <%= fa_icon("angle-double-right", text: "Show", right: true) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
