<%= form_with(model:[@assessment.lesson_plan, @assessment], local: true, id: :edit_assessment, class: :edit_assessment) do |form| %>

    <p><strong> <%= @assessment.lesson_plan.klass_name %>: <%= @assessment.lesson_plan.name %></strong></p>
    <% if @assessment.errors.any? %>
      <div id="error_explanation">
        <h3><%= pluralize(@assessment.errors.count, "error") %> prohibited this course from being saved:</h3>
        <ul>
        <% @assessment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row mt-2">
      <div class="col-md">
        <div class="form-group">
          <%= form.label :name %>
          <%= form.text_field :name, id: :assessment_name, class: "form-control", required: true, placeholder: "Name of the assessment" %>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="form-group">
              <%= form.label :value %>
              <%= form.number_field :value, id: :assessment_value, class: "form-control", required: true %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%= form.label :assessment_type_id%>
          <%= form.collection_select :assessment_type_id, AssessmentType.order(:name),
              :id, :name, { include_blank: true  }, { class: "custom-select assessment_assessment_type_id"} %>
        </div>
        <div class="form-group">
          <%= form.label :assessment_task_id%>
          <%= form.grouped_collection_select :assessment_task_id, AssessmentType.order(:name),
              :assessment_tasks, :name, :id, :name, { include_blank: true  },
              {class: "custom-select assessment_assessment_task_id"} %>
        </div>
      </div>

      <div class="col-md">
        <div class="form-group">
          <h4 class="text-white"><%= form.label :user_registration_id, "Select Learners for this assessment", class: "form-label" %></h4>
              <!-- TODO create a scope to select users who are registed for this class -->
              <!-- TODO how to filter users to shorten the lookup list on checkbox -->
              <%= form.collection_check_boxes :user_registration_ids, UserRegistration.joins(registration_klass: [:lesson_plans]).uniq, :id, :user_name do |b| %>
              <label class="form-check">
                <%= b.check_box class: "form-check-input" %>
                <span class="form-check-label"> <%= b.label %> </span>
              </label>
              <% end %>
        </div>
      </div>
    </div>
      <%= link_to [@assessment.lesson_plan, @assessment],  class: "btn btn-lg btn-outline-primary" do %>
        <%= fa_icon("times", text: "Cancel") %>
      <% end %>
      <%= form.submit "Save Changes", class: "btn btn-lg btn-primary" %>
<% end %>
