<%= form_with(model:[@assessment.lesson_plan, @assessment], method: :patch, id: :edit_assessment, class: :edit_assessment) do |form| %>

    <p><strong> <%= @assessment.lesson_plan.klass_name %>: <%= @assessment.lesson_plan.name %></strong></p>
    <div class="errors"></div>

    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, id: :assessment_name, class: "form-control", required: true, placeholder: "Name of the assessment" %>
    </div>

    <div class="form-group">
      <%= form.label :user_type, "Indicate the type of assessment" %><br>
      <% Assessment.assessment_types.keys.map do |assessment_type| %>
        <label class="custom-control custom-radio">
          <%= form.radio_button :assessment_type, assessment_type, class: "custom-control-input" %>
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description"><%= assessment_type.humanize %></span>
        </label>
      <% end %>
    </div>


      <%= link_to 'Cancel', [@assessment.lesson_plan, @assessment],  class: "btn btn-outline-primary"  %>
      <%= form.submit class: "btn btn-primary" %>
<% end %>
