<%= form_with(model:[@assessment.lesson_plan, @assessment], method: :patch, id: :edit_assessment, class: :edit_assessment) do |form| %>

    <p><strong> <%= @assessment.lesson_plan.klass_name %>: <%= @assessment.lesson_plan.name %></strong></p>
    <div class="errors"></div>

    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, id: :assessment_name, class: "form-control", required: true, placeholder: "Name of the assessment" %>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="form-group">
          <%= form.label :value %>
          <%= form.number_field :value, id: :assessment_value, class: "form-control", required: true %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :assessment_type_id%>
      <%= form.collection_select :assessment_type_id, AssessmentType.order(:name), :id, :name, { include_blank: true  }, {class: "form-control"} %>
    </div>
    <div class="form-group">
      <%= form.label :assessment_task_id%>
      <%= form.grouped_collection_select :assessment_task_id, AssessmentType.order(:name), :assessment_tasks, :name, :id, :name, { include_blank: true  }, {class: "form-control"} %>
    </div>


      <%= link_to 'Cancel', [@assessment.lesson_plan, @assessment],  class: "btn btn-outline-primary"  %>
      <%= form.submit class: "btn btn-primary" %>
<% end %>
