<%= form_with(model: [@lesson_plan, Assessment.new], id: :new_assessment, class: :new_assessment) do |form| %>

  <p><strong> <%= @lesson_plan.klass_name %>: <%= @lesson_plan.name %></strong></p>
  <div class="errors"></div>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :assessment_name, class: "form-control", required: true, placeholder: "Name of the assessment" %>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group">
        <%= form.label :value %>
        <%= form.number_field :value, id: :assessment_value, class: "form-control", required: true %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :assessment_type_id%>
    <%= form.collection_select :assessment_type_id, AssessmentType.order(:name), :id, :name, { include_blank: true  }, {id: :assessment_assessment_type_id, class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= form.label :assessment_task_id%>
    <%= form.grouped_collection_select :assessment_task_id, AssessmentType.order(:name), :assessment_tasks, :name, :id, :name, { include_blank: true  }, {id: :assessment_assessment_task_id, class: "form-control"} %>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" data-dismiss="modal" id="createRegistration">Cancel</button>
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
