<!-- tab_content_results -->
<div class="app-title" aria-label="breadcrumb">
  <div>
    <h1 class="h2"><%= fa_icon("chart-bar", text: "Results", type: "regular") %>
      &nbsp;- <%= @lesson_plan.registration_klass.course_name %>
    </h1>
    <p>Monitor, Evaluate and Improve</p>
  </div>
  <ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to [@lesson_plan.registration_klass, @assessment.lesson_plan] do %>
        Lesson Plan:&nbsp;(<%= @lesson_plan.registration_klass.course_name %>)
      <% end %>
    </li>
    <li class="breadcrumb-item">Assessment</li>

    <li class="breadcrumb-item active" aria-current="page">Results</li>
  </ul>
</div>

<div class="jumbotron jumbotron-bg-rain">
  <div class="row">
    <div class=" col-xl-10 offset-xl-1">
      <h1 class="h2">Learner Results <small><span class="badge badge-info" id="sizeResults1"></span></small></h1>
      <h2 class="h4 text-info"><%= fa_icon("align-left xs") %>&nbsp;<%= @assessment.name %></h2>

      <hr class="style4 my-2">
    </div>
  </div>
</div>
<!-- list assessment results here -->
  <% if @assessment.results.any? %>
  <div class="row d-flex flex-wrap" id="list-results">
    <%= render @assessment.results %>
  </div> <!-- .row -->
  <% else %>
    <div class="row d-flex">
      <%= render "results/result_placeholder" %>
    </div> <!-- .row -->

  <% end %>
