<% content_for :title do %>fp - Assessment Home<% end %>
<!-- school show view  -->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
  <%= render "sidebar_user" %>
  <ul class="app-menu nav flex-column nav-pills">
    <%= render "sidebar_links" %>
  </ul>
</aside>
<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane fade show active" id="assessment-home" role="tabpanel">
    <%= render "tab_content_home" %>
  </div>

  <div class="tab-pane fade" id="assessment-results" role="tabpanel">
    <%= render "tab_content_results" %>
  </div>
  <div class="tab-pane fade" id="assessment-teachers-guide" role="tabpanel">
    <%= render "tab_content_teachers_guide" %>
  </div>
</div>
<!-- .tab-content -->


<%= render "assessments/modal_dialog" %>
<!-- modal forms parts-->
<div class="collapse" id="add-part-form">
  <p><%= render "parts/new_form" %></p>
</div>
<%= render "parts/modal_dialog" %>

<!-- modal forms results-->
<div class="collapse" id="add-result-form">
  <p><%= render "results/new_form" %></p>
</div>
<%= render "results/modal_dialog" %>
