<h1>Edit Checked Registrations</h1>

<%= form_tag update_multiple_memberships_path, method: :patch do %>
  <% @memberships.each do |membership| %>
    <h2><%= membership.name %></h2>
    <%= fields_for "memberships[]", membership do |f| %>
      <% if membership.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(membership.errors.count, "error") %> prohibited this membership from being saved:</h2>
          <ul>
          <% membership.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <p class="font-weight-bold">Indicate the type of member for this person .</p>
      <% Membership.members.keys.map do |member| %>
        <label class="custom-control custom-radio">
          <%= f.radio_button :member, member, class: "custom-control-input" %>
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description"><%= member.humanize %></span>
        </label>
      <% end %>
    <% end %>
  <% end %>
  <div class="actions">
    <%= submit_tag "Update" %>
  </div>
<% end %>
