<!-- from user show or membership index views -->
<%= form_with(model: [@user, @membership], local: true) do |f| %>
  <!-- errors -->
  <% if @membership.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(membership.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
        <% @membership.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :user_name, "Name of person" %>
    <h4><%= @membership.user.name %></h4>
    <%#= f.collection_select :user_id, User.includes(:memberships).where(memberships: {school_id: membership.school.id}).order("last_name, first_name"), :id, :name_reversed, { }, {class: "form-control-plaintext", readonly: "readonly"}%>
    <%= f.text_field :user_name, id: :membership_user_name, class: "form-control membership_user_name", readonly: "readonly" %>
  </div>
  <div class="form-group">
    <%= f.label :school_name, "Name of your school" %>
    <%= f.text_field :school_name, id: :membership_school_name, class: "form-control", readonly: "readonly"  %>
  </div>
  <p class="font-weight-bold">Specify the primary role for this person .</p>
  <% Membership.primary_roles.keys.map do |primary_role| %>
    <label class="form-check-label form-check-inline">
      <%= f.radio_button :primary_role, primary_role, class: "form-check-input" %>
      <span class="form-check-label"><%= primary_role.humanize %></span>
    </label>
  <% end %>
  <div class="alert alert-warning" id="alert-account-owner" role="alert">
    <strong>Security Warning!</strong> Assigning the "Account owner" role will provide FULL SITE ACCESS to this person"
  </div>
  <div class="membership-details my-2">
    <%= f.fields_for :details, OpenStruct.new(@membership.details) do |d| %>
      <div class="form-group">
        <%= d.label :other_roles, "Specify any other roles that this person may have (separated by comma)." %>
        <%= d.text_field :other_roles, class: "form-control" %>
      </div>

      <div class="form-group">
        <% grades = ["All grades", "Grade 1", "Grade 2", "Grade 3", "Grade 4", "Grade 5", "Grade 6", "Grade 7", "Grade 8", "Grade 9", "Grade 10", "Grade 11", "Grade 12"] %>
        <%= d.label :current_grades, "Indicate current grade or grades (for teachers) using the check boxes" %>
        <br>
        <% grades.each do |current_grade| %>
          <div class="form-check form-check-inline">
            <label class="form-check-label"><input type="checkbox" class="grade" />&nbsp;<%= current_grade %></label><br></label>
          </div>
        <% end %>
      </div>

      <div class="form-group">
        <%= d.text_field :current_grades, class: "form-control", readonly: "readonly" %>
      </div>

      <div class="form-row d-flex align-items-start">
        <div class="form-group col-sm-3">
          <%= fa_icon("calendar") %>&nbsp;<%= d.label :date_enrolled, "Date First Enrolled" %>
          <%= d.text_field :date_enrolled, class: "form-control datetimepicker-membership" %>
        </div>

        <div class="form-group col-sm-3 date-final-exit">
          <%= fa_icon("calendar") %>&nbsp;<%= d.label :date_completed, "Date Exited School" %>
          <%= d.text_field :date_completed, class: "form-control datetimepicker-membership" %>
        </div>
        <div class="form-group col-sm-3">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="toggleFinalExitDate">
            <label class="form-check-label" for="toggleFinalExitDate">
              Date of Final Exit
            </label>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <hr>
  <div class="btn-group my-2">
    <%= link_to @membership, class: "btn btn-lg btn-outline-primary btn-block-xs" do %>
      <%= fa_icon("times", text: "Cancel") %>
    <% end %>
    <%= f.submit "Save changes", class: "btn btn-lg btn-primary btn-block-xs" %>
  </div>
<% end %>
