<!-- from user show or membership index views -->
<%= form_with(model: [@user, @membership], local: true, id: :new_membership, class: :new_membership) do |f| %>
<div class="row">
  <div class="col-md-6">

    <% if @membership.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(membership.errors.count, "error") %> prohibited this account from being saved:</h2>

        <ul>
          <% @membership.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :user_id, "Your name" %>
      <%= f.collection_select :user_id, User.where(id: current_user), :id, :name_reversed, { }, {class: "form-control", readonly: "readonly"}%>
    </div>
    <div class="form-group">
      <%= f.label :school_id, "Name of your school" %>
      <%= f.text_field :school_name, id: :membership_school_name  %>
    </div>
    <p class="font-weight-bold">Indicate that the account owner.</p>
    <% Membership.members.keys.map do |member| %>
      <label class="custom-control custom-radio">
        <%= f.radio_button :member, member, class: "custom-control-input" %>
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description"><%= member.humanize %></span>
      </label>
    <% end %>

    <div class="actions">
      <%= f.submit "Save School Account", class: "btn btn-primary" %>
    </div>


    </div>
    <div class="col-md-6">
      <p> Information</p>
    </div>
  </div>

<% end %>
