<!-- memberships new user form from school show view -->
<%= form_with(model: [@user, Membership.new], local: true, id: :new_membership, class: :new_membership) do |f| %>

    <% if @membership.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(membership.errors.count, "error") %> prohibited this account from being saved:</h2>

        <ul>
          <% @membership.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.label :user_id, "Your name" %>
      <%= f.collection_select :user_id, User.where(id: current_user), :id, :name_reversed, { }, {class: "form-control", readonly: "readonly"}%>
      <%#= f.text_field :user_id, :id, :membership_user_name, {class: "form-control", readonly: "readonly"}%>
    </div>
    <div class="form-group">
      <%= f.label :school_id, "Name of your school" %>
      <%= f.text_field :school_name, id: :membership_school_name, class: "form-control",
        placeholder: "Write down the name of your school" %>
    </div>
      <div class="form-group">
        <%# if current_user.has_role?(:admin) %>
        <%= f.label :member, "Confirm your role as Account Owner" %><br>
        <% member_types_to_exclude = [:learner, :educator, :parent_or_guardian, :friend_of_school] %>
        <% Membership.members.except(*member_types_to_exclude).keys.map do |member| %>
          <label class="form-check-label form-check-inline">
            <%= f.radio_button :member, member, class: "form-check-input" %>
            <span class="form-check-label"><%= member.humanize %></span>
          </label>
        <% end %>
      </div>
      <div class="actions">
        <%= link_to current_user, class: "btn btn-lg btn-outline-primary" do %>
          <%= fa_icon("times", text: "Cancel") %>
        <% end %>
        <%= f.submit "Save account", class: "btn btn-lg btn-primary" %>
      </div>
<% end %>
