<div class="app-title" aria-label="breadcrumb">
  <div>
    <h1 class="h2"><%= fa_icon("id-card", text: "Registration Card") %></h1>
    <p>Monitor, Evaluate and Improve</p>
  </div>
  <ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to  school_memberships_path(@membership.school) do %>
        Membership Administration
      <% end %>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Membership Registration Card</li>
  </ul>
</div>
<!-- .nav.breadcrumb -->

<div class="row mt-2">
  <div class="col-xl-10 offset-xl-1">
    <div class="media p-2 ">
      <div class="row">
        <div class="media-body">
          <div class="col-xs-10">
            <h1 class="h2"><%= @membership.user.full_name %></h1>
            <h2 class="h4">
              <%= fa_icon "university" %>&nbsp;<%= @membership.school.name if @membership.school %>
            </h2>
            <!-- primary_role -->
            <p class="lead">
              <span class="badge badge-info">
                <%= @membership.primary_role.humanize %>
              </span>
            </p>
            <!-- end primary_role -->
            <!-- current_grades  and other_roles-->
            <div class="row">
              <div class="col">
                Current Grade/s:<br>
                <% unless @membership.current_grades.blank? %>
                  <% @membership.current_grades.split(",").each do |grade| %>
                    <span class="badge badge-secondary"><%= grade %></span>&nbsp;
                  <% end %>
                <% end %>
              </div>
              <div class="col">
                Other Roles:<br>
                <% unless @membership.other_roles.blank? %>
                  <% @membership.other_roles.split(",").each do |other_role| %>
                    <span class="badge badge-secondary"><%= other_role %></span>&nbsp;
                  <% end %>
                  <% else %>
                    <span class="badge badge-secondary">None</span>
                <% end %>
              </div>
            <!-- end current_grades and other_roles -->
            <div class="w-100 my-2"></div>
              <!-- enrollment -->
              <div class="col">
                Date First Enrolled:&nbsp;
                <span class="badge badge-secondary">
                  <%= @membership.date_enrolled.blank? ? "Not recorded" : @membership.date_enrolled.strftime("%d %b %Y") %>
                </span>
              </div>
              <div class="col">
                Date Exited School: &nbsp;
                <span class="badge badge-secondary">
                  <%= @membership.date_completed.blank? ? "Enrolled" : @membership.date_completed.strftime("%d %b %Y") %>
                </span>
              </div>
              <!-- end enrollment -->
              <div class="w-100 my-2"></div>
              <!-- membership created_at and updated_at -->
              <div class="col">
                Created on:&nbsp;
                <span class="badge badge-secondary">
                 <%= @membership.created_at.strftime("%d %b %Y") %>
               </span>
              </div>
              <div class="col">
                Updated on:&nbsp;
                <span class="badge badge-secondary">
                <%= @membership.updated_at.strftime("%d %b %Y") if @membership.updated_at %>
              </span>
              </div>
              <!-- end membership created_at and updated_at -->
            </div>

          </div>
          <!-- .media-body.col-10 -->
        </div>
        <!-- .media-body -->
        <div class="col-xs-2 d-md-none">
          <%= image_tag "placeholder_user.png",
            size: "65x65",
            alt: "Headshot",
            id: "headshot-left",
            class: "image-fluid mb-1 mx-1" %>
        </div>
        <div class="col-md-2 d-none d-md-block">
          <%= image_tag "placeholder_user.png",
            size: "150x150",
            alt: "Headshot",
            id: "headshot-right",
            class: "image-fluid" %>
        </div>
      </div>
      <!-- .media.row -->
    </div>
    <!-- .media -->

  </div>
  <!-- end col-xl-10 -->
</div>
<!-- end .row -->
<hr>
<!-- actions  -->
<div class="row mt-2">
  <div class="col-xl-10 offset-xl-1">
    <div class="btn-group">
      <%= link_to school_memberships_path(@membership.school),
        class: "btn btn-lg btn-outline-primary" do %>
        <%= fa_icon "arrow-left", text: "Back" %>
        <% end %>
      <%= link_to edit_membership_path(@membership), class: "btn btn-lg btn-primary" do %>
        <%= fa_icon "edit", text: "Edit registration" %>
      <% end %>
    </div>
  </div>
</div>
<!-- end actions -->
