<% content_for :title do %>fp Registration Card<% end %>
<!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
  <%= render "sidebar_user" %>
  <ul class="app-menu nav flex-column nav-pills">
    <%= render "sidebar_links" %>
  </ul>
</aside>
    <!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane fade show active" id="membership-home" role="tabpanel">
    <%= render "tab_content_home" %>
  </div>

  <div class="tab-pane fade" id="membership-user-registrations" role="tabpanel">
    <%= render "tab_content_user_registrations" %>
  </div>
  <div class="tab-pane fade" id="membership-teachers-guide" role="tabpanel">
    <%= render "tab_content_teachers_guide" %>
  </div>
</div>
    <!-- .tab-content -->
