<% content_for :title do %>fp - Registration Card<% end %>
<div class="row row-offcanvas row-offcanvas-right pt-2">
  <div class="col-12 col-md-9">
    <p class="float-right d-md-none">
      <button type="button" class="btn btn-primary btn-sm" data-toggle="offcanvas">
        <%= fa_icon("th-list") %>
      </button>
    </p>
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane fade show active" id="membership-home" role="tabpanel">
        <%= render "tab_content_home" %>
      </div>

      <div class="tab-pane fade" id="membership-user-registrations" role="tabpanel">
        <%= render "tab_content_user_registrations" %>
      </div>
      <div class="tab-pane fade" id="membership-teachers-guide" role="tabpanel">
        <%= render "tab_content_teachers_guide" %>
      </div>
    </div> <!-- .tab-content -->
  </div>
  <div id="sidebar" class="col-6 col-md-3 sidebar-offcanvas pt-1 nav flex-column nav-pills" role="tablist" aria-orientation="vertical" role="tablist" aria-orientation="vertical">
    <%= render "sidebar_links" %>
  </div>
</div> <!-- .row -->
