<!-- parts/part -->
<div class="col-md-6 part-card" id="<%= dom_id(part) %>">
  <div class="card text-white bg-dark mb-3">
    <div class="card-header">
      <span class="badge badge-success">Q</span>&nbsp;<%= @assessment.name.truncate(50) %>
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= part.name %></h5>
      <p class="card-text"><%= part.description %></p>
      <p class="card-text lead">
        <span class="partValue badge badge-success"><%= part.value %></span>/<span class="totalValue badge badge-info"><%= @assessment.value %></span>
      </p>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-md-6">
          <%= link_to [part.assessment, part], method: :delete, remote: true,
            data: { confirm: 'Delete! Are you absolutely sure?' },
            class: "btn btn-danger delete-part" do %>
              <%= fa_icon("trash-alt", text: "Delete", style: "regular") %>
          <% end %>
        </div>
        <div class="col-md-6">
          <%= link_to edit_assessment_part_path(part.assessment, part), remote: true,
            class: "btn btn-primary btn-block" do %>
          <%= fa_icon "edit", text: "Edit question" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
