<li id="part-<%= part.id %>" class="list-group-item d-flex justify-content-between" >
  <div>
    <%= link_to edit_assessment_part_path(part.assessment, part), remote: true do %>
      <%= fa_icon "edit" %>&nbsp;<%= part.name %>
    <% end %>
    <br>
    <%= part.description %>
  </div>
  <div>
    <span class="badge badge-info"> <span class="partValue"><%= part.value %></span>/<span class="totalValue"></span></span>

    <%= link_to [part.assessment, part], method: :delete, remote: true,
        data: { confirm: 'Delete! Are you absolutely sure?' },
        class: "btn btn-sm btn-danger btn-link delete-part" do %>
          <span class="text-danger"><i class="fa fa-trash" aria-hidden="true"></i>&nbsp;Remove</span>
        <% end %>
  </div>
</li>
