<% content_for :title do %>fp Fee Pay Agreements<% end %>
<div class="mt-2">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-color">
      <li class="breadcrumb-item">
        <%= link_to [@fee.school, @fee, ] do %>
          <%= fa_icon("arrow-left", text: "School Fee") %>
        <% end %>
      </li>
      <li class="breadcrumb-item active" aria-current="page"><%= @fee.year.strftime("%Y") %> Pay Agreements</li>
    </ol>
  </nav>
</div>
<div class="row">
  <div class="col-lg-10 offset-lg-1">
    <h1><%= @fee.year.strftime("%Y") %> Pay Agreements&nbsp;<small><span class="badge badge-info"><%= @fee.pay_agreements.size %></span></small></h1>
    <h2 class="h3">
      Approved School Fee:&nbsp;
      <span class="badge badge-dark">
        <%= number_to_currency(@fee.amount, precision: 2, unit: "R") %>
      </span>
      &nbsp;<small>Discounted:&nbsp;<span class="badge badge-warning"><%= @fee.pay_agreements.discounted.size %></span></small>
    </h2>
  </div>
</div>

<div class="row">
  <div class="col-lg-10 offset-lg-1">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col"><%= fa_icon("user-circle", text: "Learner") %></th>
          <th scope="col"><span class="badge badge-warning">d</span></th>
          <th scope="col">Agreed Fee</th>
          <th scope="col">Discount</th>
          <th scope="col">Comment</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @fee.pay_agreements.each do |pay_agreement| %>
          <tr>
            <th scope="row"><%= pay_agreement.user_registration.user_name %></th>
            <td><span class="badge badge-warning"><%= pay_agreement.discounted? ? "d" : "" %></span></td>
            <td><%= number_to_currency(pay_agreement.agreed_school_fee, precision: 2, unit: "R") %></td>
            <td><%= number_to_percentage(pay_agreement.discount_in_percent, precision: 2) %></td>
            <td><%= pay_agreement.comment.truncate(30) if pay_agreement.comment %></td>
            <td><%= link_to [pay_agreement.fee, pay_agreement], class: "btn btn-sm btn-primary" do %><%= fa_icon("angle-double-right", text: "Show", right: true) %>  <% end %></td>
            <td><%= link_to edit_fee_pay_agreement_path(pay_agreement.fee, pay_agreement), class: "btn btn-sm btn-outline-primary" do %><%= fa_icon("pencil", text: "Edit") %>  <% end %></td>
            <td><%= link_to [pay_agreement.fee, pay_agreement], class: "btn btn-sm btn-danger", method: :delete, data: { confirm: 'Are you sure?' } do %><%= fa_icon("trash", text: "Delete") %><% end %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
</div>
