<div class="col-sm-4 lesson-plan-card" id="<%= dom_id(lesson_plan) %>">
  <div class="card border-primary mb-3 scale">
    <div class="card-header">
      Lesson Plan - <%= lesson_plan.registration_klass.course_name %>
    </div>
    <div class="card-body">
      <h4 class="card-title text-white">
        <%= lesson_plan.name %>
      </h4>
        <p class="card-text">
           <%= term_label lesson_plan.term %>
              <!-- https://rails.devcamp.com/rails-bdd-tdd-course/advanced-features-rails/creating-custom-view-helper-rails -->
            <!-- TODO write a helper to display lesson_plan enum term strings as numbers e.g. one should be 1 etc. -->
            &nbsp;
        </p>
        <p class="card-text">A more complete lesson plan description ....</p>
        <p class="lead card-title">
          <%= fa_icon "check", text: "Assessments" %>&nbsp;
          <span class="badge badge-info"><%= lesson_plan.assessments.size %></span>
        </p>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-7">
          <%= link_to [lesson_plan.registration_klass, lesson_plan], method: :delete,
            data: { title: 'Are you sure you want to delete this lesson plan?',
              confirm: 'Warning! This action is destructive. It will also delete all associated data etc.',
              verify: 'YES', verify_text: 'Type "YES" to confirm'},
              remote: true, class: "btn btn-danger delete-lesson-plan" do %>
            <%= fa_icon("trash-alt", text: "Delete", style: "regular") %>
          <% end %>
        </div>
        <div class="col-5">
          <%= link_to [lesson_plan.registration_klass, lesson_plan],
            class: "btn btn-primary btn-block" do %>
              <%= fa_icon("expand", text: "Show")%>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
