<%= form_with(model:[@registration_klass, LessonPlan.new], id: :new_lesson_plan, class: :new_lesson_plan) do |form| %>

  <p> <strong><%= @registration_klass.name %></strong> </p>
  <div class="errors"></div>

  <div class="form-group">
    <%= form.label :name, "Give your lesson plan a name" %>
    <%= form.text_field :name, id: :lesson_plan_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :term, "School Term" %><br>
    <% LessonPlan.terms.keys.map do |term| %>
      <label class="custom-control custom-radio">
        <%= form.radio_button :term, term, class: "custom-control-input" %>
        <span class="custom-control-indicator"></span>
        <%= custom_radio_label term %>
        <!-- view for <span class="custom-control-description ><%#= term.humanize %></span>-->

      </label>
    <% end %>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" data-dismiss="modal" id="createLessonPlan">Cancel</button>
    <%= form.submit "Save lesson plan", class: "btn btn-primary" %>
  </div>
<% end %>
