<% content_for :title do %>fp Lesson Plan Home<% end %>
<!-- lesson_plan show view  -->
<!-- TODO add a tagline for Achievements Goals etc. -->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
  <%= render "sidebar_user" %>
  <ul class="app-menu nav flex-column nav-pills">
    <%= render "sidebar_links" %>
  </ul>
</aside>
<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane fade show active" id="lesson-plan-home" role="tabpanel">
    <%= render "tab_content_home" %>
  </div>

  <div class="tab-pane fade" id="lesson-plan-assessments" role="tabpanel">
    <%= render "tab_content_assessments" %>
  </div>
  <div class="tab-pane fade" id="lesson-plan-teachers-guide" role="tabpanel">
    <%= render "tab_content_teachers_guide" %>
  </div>
</div>
<!-- .tab-content -->


<%= render "lesson_plans/modal_dialog" %>

<!-- modal forms-->
<div class="collapse" id="add-assessment-form">
  <p><%= render "assessments/new_form" %></p>
</div>
<%= render "assessments/modal_dialog" %>
