<% commentable.comments.each do |comment| %>
  <li id="<%= dom_id(comment) %>" class="list-group-item list-group-item-action">
    <span class="text-white"><%= comment.comment %></span><br>
    <small>
      <%= fa_icon "comment" %>&nbsp;
      <em><%= comment.user.name %>&nbsp;
        -&nbsp;<%= time_ago_in_words(comment.created_at) %>&nbsp;ago.
      </em>
    </small>
  </li>
<% end %>
