<li id="comment-<%= comment.id %>" class="list-group-item" >
  <%= comment.comment %>
    <%= comment.comment %><br>
    <small> <%= fa_icon "comment" %>&nbsp;<em>...<%= comment.user.name %></em></small>
</li>
