<li id="comment-<%= comment.id %>" class="list-group-item" >
  <span class="text-primary"><%= comment.comment %></span><br>
  <small>
    <%= fa_icon "comment" %>&nbsp;
    <em>
      <%= comment.user.name %>&nbsp;
      -&nbsp;<%= time_ago_in_words(comment.created_at) %>&nbsp;ago.
    </em>
  </small>
</li>
