<a class="nav-link active list-group-item" id="home-tab" data-toggle="pill" href="#home" role="tab" aria-controls="home" aria-selected="true"><%= fa_icon("user fw", text: "Home") %></a>
<a class="nav-link list-group-item" id="#my-classes-tab" data-toggle="pill" href="#my-classes" role="tab" aria-controls="my-classes" aria-selected="false"><%= fa_icon("graduation-cap fw", text: "My Classes") %>&nbsp;<span class="badge badge-info"><%= current_user.registration_klasses.size %></span></a>
<a class="nav-link list-group-item" id="my-goals-tab" data-toggle="pill" href="#my-goals" role="tab" aria-controls="my-goals" aria-selected="false"><%= fa_icon("calendar-check-o fw", text: "My Goals & Action Plans") %>&nbsp;<span class="badge badge-info"><%= current_user.goals.size %></span></a>
<a class="nav-link list-group-item" id="my-addresses-tab" data-toggle="pill" href="#my-addresses" role="tab" aria-controls="my-adresses" aria-selected="false"><%= fa_icon("address-book fw", text: "My Addresses") %></a>

<% if current_user.memberships.any? %>
  <%= render current_user.memberships %>
<% end %>
<%= link_to edit_user_registration_path, class: "nav-link list-group-item" do %>
  <%= fa_icon("pencil-square fw", text: "Change my Sign-in details") %>
<% end %>
