<!-- user sidebar links -->
<li>
  <a id="home-tab" class="app-menu__item active" href="#home" role="tab" data-toggle="pill" aria-controls="home" aria-selected="true">
    <%= fa_icon("user-graduate lg", class: "app-menu__icon mr-2") %>
    <span class="app-menu__label">
      My Home Page
    </span>
  </a>
</li>
<% unless current_user.memberships.empty? %>
  <li>
    <a id="my-registration-tab" class="app-menu__item" href="#my-registration-class" data-toggle="pill" role="tab" aria-controls="my-registration-klass" aria-selected="false">
      <%= fa_icon("graduation-cap fw", class: "app-menu__icon mr-2") %>
      <span class="app-menu__label">
        My Classes&nbsp;<span class="badge badge-info"><%= current_user.registration_klasses.s_klasses.size %></span>
      </span>
    </a>
  </li>

  <li>
    <a id="my-goals-tab" class="app-menu__item" href="#my-goals" data-toggle="pill" role="tab" aria-controls="my-goals" aria-selected="false">
      <%= fa_icon("star fw", class: "app-menu__icon mr-2") %>
      <span class="app-menu__label">
        My Goals <span id="sizeGoals1" class="badge badge-info"></span>
      </span>
    </a>
  </li>
  <li>
    <a id="my-achievements-tab" class="app-menu__item" href="#my-achievements" data-toggle="pill" role="tab" aria-controls="my-achievements" aria-selected="false">
      <%= fa_icon("trophy fw", class: "app-menu__icon mr-2") %>
        <span class="app-menu__label">
          My Achievements
          <span id="sizeAchievements2" class="badge badge-info"></span>
        </span>
    </a>
  </li>
  <li>
    <a id="my-addresses-tab" class="app-menu__item" href="#my-addresses" data-toggle="pill" role="tab" aria-controls="my-addresses" aria-selected="false">
      <%= fa_icon("address-book fw", class: "app-menu__icon mr-2") %>
      <span class="app-menu__label">
        My Addresses <span id="sizeAddresses2" class="badge badge-info"></span>
      </span>
    </a>
  </li>
  <% if current_user.memberships.any? %>
    <%= render current_user.memberships %>
  <% end %>
<% end %>
