<div class="app-title bg-i-like-food" aria-label="breadcrumb">
  <div>
    <h1 class="h2"><%= fa_icon("graduation-cap", text: "My Classes") %></h1>
    <p>Monitor, Evaluate and Improve</p>
  </div>
  <ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item"><a href="#"><%= fa_icon("home lg", text: "Home") %></a></li>
    <li class="breadcrumb-item active" aria-current="page">My Classes</li>
  </ul>
</div>

<div class="jumbotron">
  <div class="row">
    <div class="col-xl-10 offset-xl-1">
      <h1 class="text-white">
        My Registration and Subject Classes
      </h1>
      <h2>Subject Classes
        <small>
          <span class="badge badge-info">
            <%= current_user.registration_klasses.subj_classes.size %>
          </span>
      </small>
      </h2>
    </div>
  </div>
</div>
<div>
  <% if @current_user.registration_klasses.any? %>
    <div class="row d-flex flex-wrap" id="list-subject-klasses">
      <%= render @current_user.registration_klasses.s_klasses %>
    </div>
    <div class="row d-flex flex-wrap" id="list-registration-klasses">
      <%= render @current_user.registration_klasses.r_klasses %>
    </div>
    <% else %>
    <div class="row d-flex flex-wrap">
      <div class="col-12">
        <div class="alert alert-info" role="alert">
          You don't have any classes to list yet. However, to give you an idea what it will
          look like we have provided an example registration.
        </div>
      </div>
      <%= render "registration_klass_placeholder" %>
    </div>
  <% end %>
</div>
