<div class="mt-1">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">My Personal Goals</li>
    </ol>
  </nav>
</div>
<div class="jumbotron mt-1">
  <div class="row">
    <div class="col-xl-10 offset-xl-1">
      <h1 class="text-white">
        My Goals and Action Plans&nbsp;
          <small>
            <span id="sizeGoals1" class="badge badge-info"></span>
          </small>
      </h1>
      <h2 class="h5">
      <%= fa_icon("star", text: "Personal Goals") %> <span class="badge badge-warning">Private</span>
      </h2>
      <hr>
      <p class="text-white">Achieve something by setting a goal and clear action plans.</p>
      <%= link_to new_user_goal_path(current_user), remote: true, class: "btn btn-lg btn-primary btn-block-xs" do %>
        <%= fa_icon("plus-square", text: "Create a New Goal") %>
      <% end %>
    </div>
  </div>
</div>

<div class="row" id="list-goals">
  <% if current_user.goals.any? %>
      <%= render "goals/goals", goalable: @user %>
  <% else %>
    <%= render "goals/goal_placeholder" %>
  <% end %>
</div>
