<div class="app-title" aria-label="breadcrumb">
  <div>
    <div class="media">
      <%= image_tag "placeholder_user.png",
        size: "45x45",
        alt: "Headshot",
        id: "headshot",
        class: "rounded-circle image-fluid mr-3" %>
      <div class="media-body">
        <h2 class="mt-0">
          <%= current_user.first_name if current_user.first_name %>
          <%= current_user.last_name if current_user.last_name %>
        </h2>
      </div>
    </div>
    <p><%= current_user.try(:email) %></p>
  </div>
  <ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item active" aria-current="page"><%= fa_icon("home lg", text: "Home") %></li>
  </ul>
</div>

<div class="row">
  <div class="col-lg-10 offset-lg-1">
    <p>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-lg-10 offset-lg-1" id="create-school-account">
    <% if current_user.memberships.empty? %>
      <%= render "welcome_new_account_owner" %>
    <% end %>
  </div>
</div>
