<td>
  <strong><%= user.name_reversed %></strong>, <br>
  <%= user.id %> <br>
  <%= user.confirmed_at.strftime("%d%b%y") %>

  <br>
  <%= user.email %>
  <br>
  <%= user.slug %>
</td>
<td>
  <% unless user.memberships.empty? %>
    <%= render user.memberships %>
  <% end %>
</td>
<td>
  <ul>
    <% unless user.roles.empty? %>
      <% user.roles.each do |role| %>
        <li><%= role.name %> <%= role.resource_type %><br> <%= role.resource_id %></li>
      <% end %>
    <% else %>
      No roles
    <% end %>
  </ul>
</td>
