<div class="row row-offcanvas row-offcanvas-right pt-2">
  <div class="col-12 col-md-9">
    <p class="float-right d-md-none">
      <button type="button" class="btn btn-primary btn-sm" data-toggle="offcanvas">
        <%= fa_icon("th-list") %>
      </button>
    </p>
    <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane fade show active" id="home" role="tabpanel">
          <%= render "home_card" %>
        </div>
        <%# if current_user.has_any_role?(:admin, :faculty) %>
          <!-- true -->
        <div class="tab-pane" id="my-classes" role="tabpanel">
          <h3>My Classes</h3>
          <ul class="list-group" role="tablist">
            <% unless current_user.registration_klasses.empty? %>
              <% current_user.registration_klasses.each do |registration_klass| %>
                <li class="list-group-item list-group-item-primary">
                  "<%= registration_klass.name %>" for <%= registration_klass.klass_type.humanize %>
                </li>
              <% end %>
              <% else %>
              <%= render "nothing_to_list" %>
            <% end %>
          </ul>
        </div>
        <%# if current_user.has_role?(:admin) %>
        <div class="tab-pane" id="roles" role="tabpanel">
          <div class="row">
            <div class="col-md-6">
              <h3>Access Permissions</h3>
              <ul class="list-group" role="tablist">
                <% current_user.roles.each do |role| %>
                  <li class="list-group-item list-group-item-primary">
                    "<%= role.name.humanize %>" for <%= role.resource_type %>
                  </li>
                <% end %>filename
              </ul>
            </div>
          </div>
        </div>
        <%# end %>
        <div class="tab-pane" id="my-addresses" role="tabpanel">
          <h2>Addresses</h2>
          <%= link_to "Manage addresses", user_addresses_path(current_user), class: "btn btn-sm btn-primary" %>
          <div id="list-addresses" class="row py-2">
            <% if current_user.addresses.any? %>
              <%= render "addresses/addresses", addressable: @user %>
            <% else %>
              <li class="list-group-item list-group-item-info no-addresses-to-list">
                No addresses recorded yet.&nbsp;
                <%= link_to 'Add an Address', new_user_address_path(current_user),
                    class: "btn btn-sm btn-outline-primary" %>
              </li>
            <% end %>
          </div>
        </div>
        <div class="tab-pane" id="my-goals" role="tabpanel">
          <h2>Goals and Action Plans</h2>
          <%= link_to "Manage your goals", user_goals_path(current_user), class: "btn btn-sm btn-primary" %>
        <div id="list-goals" class="row py-2">
          <% if current_user.goals.any? %>
              <%= render "goals/goals", goalable: @user %>
          <% else %>
            <li class="list-group-item list-group-item-info no-addresses-to-list">
              No Goals Recorded yet
            </li>
            <%= link_to 'Create a New Goal', new_user_goal_path(current_user), class: "btn btn-primary" %>
          <% end %>
          </div>
        </div>
      </div> <!-- .tab-content -->
  </div>
  <div id="sidebar" class="col-6 col-md-3 sidebar-offcanvas pt-1 nav flex-column nav-pills" role="tablist" aria-orientation="vertical" role="tablist" aria-orientation="vertical">
      <%= render "sidebar_links" %>
  </div>

</div>

<!-- modal adresses edit action -->
<%# render "addresses/modal_dialog" %>
