<% content_for :title do %>fp My Personal Page<% end %>
<!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar ">
  <%= render "sidebar_user" %>
  <ul class="app-menu nav flex-column nav-pills">
    <%= render "sidebar_links" %>
  </ul>
</aside>
  <div class="tab-content">
    <div class="tab-pane fade show active" id="home" role="tabpanel">
      <%= render "tab_content_home" %>
    </div>

    <div class="tab-pane" id="my-registration-class" role="tabpanel">
      <%= render "tab_content_registration_classes" %>
    </div>

    <%# if current_user.has_any_role?(:admin, :faculty) %>
      <!-- true -->
      <div class="tab-pane"  id="my-goals" role="tabpanel" >
        <%= render "tab_content_goals" %>
      </div>

    <%# if current_user.has_role?(:admin) %>
    <div class="tab-pane"  id="my-achievements" role="tabpanel" >
      <%= render "tab_content_achievements" %>
    </div>
    <%# end %>
    <div class="tab-pane"  id="my-addresses" role="tabpanel" >
        <%= render "tab_content_addresses" %>
    </div>
  </div>
<%= render "goals/modal_dialog" %>
<%= render "achievements/modal_dialog" %>
<%= render "addresses/modal_dialog" %>
