<% content_for :title do %>fp My Stuff<% end %>
<!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
  <div class="app-sidebar__user">
    <img class="app-sidebar__user-avatar" src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg" alt="User Image">
    <div>
      <p class="app-sidebar__user-name"><%= current_user.name %></p>
      <p class="app-sidebar__user-designation">A Great Person and More</p>
    </div>
  </div>
  <ul class="app-menu nav flex-column nav-pills">
    <%= render "sidebar_links" %>
  </ul>
</aside>
  <div class="tab-content">
    <div class="tab-pane fade show active" id="home" role="tabpanel">
      <%= render "tab_content_home" %>
    </div>

    <div class="tab-pane" id="my-registration-class" role="tabpanel">
      <%= render "tab_content_registration_classes" %>
    </div>
    <div class="tab-pane" id="my-subjects" role="tabpanel">
      <%= render "tab_content_subject_classes" %>
    </div>

    <%# if current_user.has_any_role?(:admin, :faculty) %>
      <!-- true -->
      <div class="tab-pane"  id="my-goals" role="tabpanel" >
        <%= render "tab_content_goals" %>
      </div>

    <%# if current_user.has_role?(:admin) %>
    <div class="tab-pane"  id="my-achievements" role="tabpanel" >
      <%= render "tab_content_achievements" %>
    </div>
    <%# end %>
    <div class="tab-pane"  id="my-addresses" role="tabpanel" >
        <%= render "tab_content_addresses" %>
    </div>
  </div>
<%= render "goals/modal_dialog" %>
<%= render "achievements/modal_dialog" %>
<%= render "addresses/modal_dialog" %>
