<li id="registration-<%= registration.id %>" class="list-group-item d-flex justify-content-between" >
  <div class="">
    <span class="badge badge-primary"><%= registration.user_type.humanize %></span>
    &nbsp;<%= fa_icon "user" %>&nbsp;<%= link_to registration.user_name, [registration.registration_klass, registration] %>
  </div>
  <div class="">
    <%= link_to [registration.registration_klass, registration], method: :delete, remote: true,
        data: { confirm: 'Are you absolutely sure?' },
        class: "btn btn-sm btn-danger btn-link delete-registration" do %>
        <span class="text-danger"><i class="fa fa-user-times" aria-hidden="true"></i>&nbsp;Remove</span>
    <% end %>
  </div>
</li>
