<div class="container">
  <div id="show-registration-card-<%= @registration.id %>">
    <div id="registration-card-<%= @registration.id %>" class="card border-primary my-3" style="max-width: 20rem;">
      <div class="card-header"><%= @registration.registration_klass.name %></div>
      <div class="card-body text-primary">
        <h4 class="card-title"><%= @registration.user_name %></h4>
        <p class="card-text">
           <span id="user-type">
             <%= render "user_type_display" %>
          </span>
          <%= @registration.completed ? "Completed on" : "Active" %> <%= @registration.try(:completed_at) %>
        </p>
        <%= link_to 'Back', school_registration_klass_path(@registration_klass.school, @registration_klass), class: "btn btn-sm btn-outline-primary" %>
        <%= link_to 'Edit', edit_registration_klass_registration_path(@registration.registration_klass, @registration), remote: true, class: "btn btn-sm btn-primary" %>
      </div>
    </div>
  </div>
</div>
<%= render "registrations/modal_dialog" %>
