<div id="<%= dom_id(result) %>" class="col-md-4 result-card" >
  <div class="card text-white bg-dark mb-3">
    <div class="card-header"><%= fa_icon("check-circle-o", text: "Learner Result") %></div>
    <div class="card-body">
      <h5 class="card-title"><%= fa_icon("user-circle-o") %>&nbsp;<%= result.user_registration.user_name %></h5>
      <p class="card-text"><%= fa_icon("check-square") %>&nbsp;<%= result.assessment.name %></p>
      <p class="card-text">
        <span class="badge badge-secondary">Goal: 15</span>
      </p>
      <p class="card-text">
         <span class="badge badge-info"><%= result.student_score %>/ <%= result.assessment.value %></span>
      </p>
      <p class="card-text">
        <% if result.teacher_comment %>
          <%= fa_icon "comment" %>&nbsp;<%= result.teacher_comment %>
        <% else %>
          <%= fa_icon "comment-o", text: "No comments yet" %>
        <% end %>
      </p>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-between">
        <%= link_to [result.assessment, result], method: :delete, remote: true,
          data: { confirm: 'Delete! Are you absolutely sure?' },
          class: "btn btn-danger delete-result" do %>
          <%= fa_icon("trash-alt", text: "Delete", style: "regular") %>
        <% end %>

        <%= link_to [result.assessment, result], class: "btn btn-primary" do %>
          <%= fa_icon "angle-double-right", text: "Show", right: true %>
        <% end %>
      </div>
    </div>
  </div>

</div>
