<div class="app-title" aria-label="breadcrumb">
  <div>
    <h1 class="h2"><%= fa_icon("equals", text: "Learner Result") %></h1>
    <p>Monitor, Evaluate and Improve</p>
  </div>
  <ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to [@assessment.lesson_plan, @result.assessment] do %>
        Assessment
      <% end %>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Learner Result</li>
  </ul>
</div>
<div class="jumbotron">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <h1 class="h3">Individual Learner Result</h1>
      <h2 class="h3 text-primary">
        <%= fa_icon("user-circle") %>&nbsp;<%= @result.user_registration.user_name %>
      </h2>
      <h3 class="h4 text-white"> Assessment: <%= @result.assessment.name %></h3>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-8 col-lg-5 offset-lg-1">
      <h4 class="text-info">Assessment Value: <span class="badge badge-info"><%= number_with_precision(@result.assessment.value, precision: 1) %></span> </h4>
      <table class="table table-sm table-hover assessment">
        <thead class="">
          <tr>
            <th scope="col"></th>
            <th class="text-info" scope="col">My Goal</th>
            <th  class="text-white" scope="col">My Mark</th>
            <th scope="col">Gap??</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">points</th>
            <td class="text-info">75/<%= number_with_precision(@result.assessment.value, precision: 1) %></td>
            <td class="text-white"><%= number_with_precision(@result.student_score, precision: 1) %>/<%= number_with_precision(@result.assessment.value, precision: 1) %></td>
            <td>???</td>
          </tr>
          <tr>
            <th scope="row">percent</th>
            <td class="text-info">00.00%</td>
            <td class="text-white"><%= number_to_percentage(@result.percent_mark, precision: 1) %></td>
            <td>-</td>
          </tr>
        </tbody>
      </table>
      <!-- table results  -->
    </div>
    <!-- .col -->
    <div class="col-lg-4">
      <p class="h4">Teacher's Remarks</p>
      <% if @result.teacher_comment %>
        <p class="text-white">
          <%= @result.teacher_comment %>
        </p>
      <% else %>
          <p class="text-info">Teacher has not made any remarks yet.</p>
      <% end %>
    </div>
    <!-- .col teacher_comment -->

  </div>
  <!--< .row main -->
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <hr class="my-3">

      <div class="actions">
        <%= link_to [@assessment.lesson_plan, @result.assessment], class: "btn btn-lg btn-outline-primary" do %>
          <%= fa_icon("arrow-left", text: "Back") %>
        <% end %>
        <%= link_to edit_assessment_result_path(@result.assessment, @result),
          class: "btn btn-lg btn-primary" do %>
          <%= fa_icon("edit", text: "Edit result") %>
        <% end %>
        <!-- TODO add conditonal to either show or hide depending on id user has roles learner or teacher  -->
        <%= link_to edit_assessment_result_path(@result.assessment, @result),
          class: "btn btn-lg btn-primary" do %>
          <%= fa_icon("pencil-alt", text: "Set my goal") %>
        <% end %>
      </div>

    </div>
  </div>
  <!-- .row action buttons -->
</div>
<!-- .jumbotron -->
