<%= form_with(model: [@school, Event.new], local: true, id: :new_event, class: :new_event) do |form| %>

  <h4 class="text-white"><%= @school.name %></h4>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this grade from being saved:</h2>
      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title, "Headline title" %>
    <%= form.text_field :title, id: :event_title, class: "form-control", placeholder: "Give it a headline title" %>
  </div>

  <div class="form-group">
    <%= form.label :description, "Provide a more detailed description of the event" %>
    <%= form.hidden_field :description, id: :event_description %>
    <trix-editor class="trix-bg" input="event_description"></trix-editor>
  </div>
  <div class="row">
    <div class='col-sm-6'>
        <div class="form-group">
          <%= form.label :start_time, "Start Date & Time" %>
          <%= form.text_field :start_time, id: :event_start_time, class: "form-control", placeholder: "Start date and time" %>
        </div>
    </div>
    <div class='col-sm-6'>
        <div class="form-group">
          <%= form.label :start_time, "End Date & Time" %>
            <%= form.text_field :end_time, id: :event_end_time, class: "form-control", placeholder: "End date and time" %>
        </div>
    </div>
  </div> <!-- .row datetimepicker -->

  <div class="modal-footer">
    <%= link_to school_events_path(@school), class: "btn btn-lg btn-outline-primary" do %>
      <%= fa_icon("times", text: "Cancel") %>
    <% end %>
    <%= form.submit class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
