  <h1 class="pt-2">School Events</h1>
  <div class="py-2">
    <%= link_to @school, class: "btn btn-outline-primary" do %>
     <%= fa_icon "arrow-left" %>&nbsp;Back
    <% end %>
    &nbsp;
    <%= link_to new_school_event_path(@school), remote: true, class: "btn btn-primary" do %>
      <%= fa_icon "calendar-plus-o" %> Create an Event
    <% end %>
  </div>

  <div class="row">
    <div class="col-sm-9">
      <div id="event_calendar" class="py-2"> </div>
    </div>
    <div class="col-sm-3">
      <h3>Upcoming Events</h3>
      <p class="text-info">
        <%= fa_icon "info-circle" %>&nbsp;..including from 1 wk ago.
        Use the calendar to look for older events.
      </p>
      <div id="list-events" class="d-flex flex-column">
       <% if @school.events.any? %>
         <%= render @school.events.newer_than(1.week.ago) %>
       <% else %>
          <div class="card border-info mb-3 no-events-to-list">
            <div class="card-header">Header</div>
            <div class="card-body text-info">
              <p class="card-text">No Events to list</p>
            </div>
          </div>
       <% end %>
      </div>

    </div>
  </div>

<%= render "modal_dialog" %>
<%= render "full_calendar_modal" %>
