<div class="container">

  <h1>School Events</h1>
  <p>
    <%= link_to new_school_event_path(@school), class: "btn btn-primary" do %>
      <%= fa_icon "calendar-plus-o" %> Create a New Event
    <% end %>
  </p>
  <div class="row">
    <div class="col-sm-8">
      <div id="event_calendar"> </div>
    </div>
    <div class="col-sm-4">
      <h2>Upcoming Events</h2>
      <p class="text-info"><%= fa_icon "info-circle" %> Please use the calendar to look for older events.</p>
      <p>
      <%= link_to @school, class: "btn btn-sm btn-primary" do %>
       <%= fa_icon "hand-o-left" %> Back to School Page
      <% end %>

      <%= link_to new_school_event_path(@school), remote: true, class: "btn btn-sm btn-success" do %>
       <%= fa_icon "plus-square" %> Add an event
      <% end %>
      </p>
      <ul id="list-events" class="list-group">
       <% if @school.events.any? %>
         <%= render @school.events.newer_than(1.week.ago) %>
       <% else %>
         <li class="list-group-item list-group-item-info no-events-to-list">
           No school events to list
         </li>
       <% end %>
      </ul>

    </div>
  </div>
</div>
<%= render "modal_dialog" %>
<%= render "full_calendar_modal" %>
