<div class="mt-1">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to @school do %>
          <%= fa_icon "arrow-left", text: "School home" %>&nbsp;
        <% end %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">School Events Calendar</li>
    </ol>
  </nav>
</div>
  <div class="row">
    <div class="col-lg-6 offset-lg-1">
      <h1 class="py-2">
      Upcoming School Events&nbsp;<small><span class="badge badge-info"><%= @school.events.newer_than(1.day.ago).size %></small></span>
      </h1>
    </div>
    <div class="col-lg-5">
      <%= link_to new_school_event_path(@school), remote: true,
        class: "btn btn-lg btn-primary btn-block-xs" do %>
        <%= fa_icon "calendar-plus-o", text: "Create an Event" %>
      <% end %>
    </div>
  </div>
<div class="row">
  <div class="col-md-10 offset-md-1">
    <div id="event_calendar" class="py-2"> </div>
  </div>
</div>

<%= render "modal_dialog" %>
<%= render "full_calendar_modal" %>
