<!-- registration_klass/achievement -->
<div class="col-sm-4 achievement-card" id="<%= dom_id(achievement) %>">
  <div  class="card text-white border-success bg-dark mb-1 mr-1">
    <div class="card-header">
      Achievement
    </div>
    <div class="card-body">
      <h4 class="card-title"><%= achievement.title %></h4>
      <h6 class="cad-subtitle"><%= achievement.date.strftime("%d %b %Y") %></h6>
      <p class="card-text"><%= achievement.description %></p>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-sm-6">
          <%= link_to [achievement.achievable, achievement], remote: true, method: :delete,
          data: { confirm: 'Are you sure?', toggle: "tooltip" },
          class: "delete-achievement btn btn-danger btn-block-xs", title: "Delete" do %>
          <%= fa_icon("trash-alt", text: "Delete", style: "regular") %>
          <% end %>
        </div>
        <div class="col-md-6">
          <%= link_to edit_polymorphic_path([achievement.achievable, achievement]),
            remote: true, class: "btn btn-block btn-primary" do %>
            <%= fa_icon("edit", text: "Edit") %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
