<% unless controller.controller_name == "users" %>
  <tr id="membership-<%= membership.id %>">

    <td>
      <%= hidden_field_tag "school[membership_ids][]", nil %>
      <%= check_box_tag "membership_ids[]", membership.id %>
    </td>
    <td><span class="badge badge-info"><%= membership.member.humanize %> </span></td>
    <td>
      <%= membership.user.name_reversed if membership.user %><br>
      <%= membership.user.email if membership.user %>
    </td>
    <td>
        <%= user_status(membership) %>&nbsp;

        <% if membership.user.invitation_accepted_at %>
          <%= membership.user.invitation_accepted_at.strftime("%d %b %Y") %>
        <% end %>
    </td>
    <td>
      <%= link_to membership, class: "btn btn-sm" do %>
        <%= fa_icon("user", text: "View") %>
      <%end %>

      <%= link_to edit_membership_path(membership), class: "btn btn-sm "  do %>
        <%= fa_icon("pencil-square", text: "Edit") %>
      <%end %>

        <%= link_to [membership.user, membership], method: :delete, remote: true,
          data: { confirm: 'Deleting!!!.. Are you absolutely sure?' },
          class: "btn btn-sm text-danger delete-membership"  do %>
          <%= fa_icon("trash", text: "Delete") %>
        <% end %>
    </td>
  </tr>
<% else %>
  <li  id="membership-<%= membership.id %>">
    <%= link_to membership.school.name, school_path(membership.school) %>
  </li>
<% end %>
