<% unless controller.controller_name == "users" %>
  <tr id="membership-<%= membership.id %>">
    <td><span class="badge badge-primary"><%= membership.member.humanize %> </span></td>
    <td><%= membership.user.name_reversed if membership.user %></td>
    <td><%= membership.user.email if membership.user %></td>
    <td>
        <%= user_status(membership) %>
    </td>
    <td><%= membership.user.confirmed_at ? membership.user.invitation_accepted_at : "Not Confirmed" %></td>
    <td>
      <%= link_to membership, class: "btn btn-sm" do %>
        <span class="badge badge-success"><i class="fa fa-edit" aria-hidden="true"></i>&nbsp;Show</span>
      <%end %>
    </td>
    <td>
      <%= link_to edit_membership_path(membership), class: "btn btn-sm"  do %>
        <span class="badge badge-primary"><i class="fa fa-edit" aria-hidden="true"></i>&nbsp;Edit</span>
      <%end %>
     </td>
    <td>
        <%= link_to [membership.user, membership], method: :delete, remote: true,
          data: { confirm: 'Are you absolutely sure?' },
          class: "btn btn-sm delete-membership"  do %>
          <span class="badge badge-danger"><i class="fa fa-user-times" aria-hidden="true"></i>&nbsp;Remove</span>
        <% end %>
    </td>
  </tr>
<% else %>
  <li  id="membership-<%= membership.id %>">
    <%= link_to membership.school.name, school_path(membership.school) %>
  </li>
<% end %>
