<% @school.memberships.each do |membership| %>
  <% unless controller.controller_name == "users" %>
    <tr id="membership-<%= membership.id %>">
      <td>
        <%= image_tag "placeholder_user.png",
          size: "50x50",
          alt: "Headshot",
          id: "headshot",
          class: "image-fluid mr-3" %>
      </td>
      <td>
        <%= membership.user.name_reversed if membership.user %><br>
        <%= membership.user.email if membership.user %> <br>
        <%= membership.user.id if membership.user %> <br>
      </td>
      <td>
        <%= hidden_field_tag "school[membership_ids][]", nil %>
        <%= check_box_tag "membership_ids[]", membership.id %>
      </td>

      <td>
        <% unless membership.user.roles.empty? %>
        <span class="badge badge-info"><%= membership.primary_role.humanize %></span>
        <% else %>
          <span class="badge badge-warning">No role assigned</span>
        <% end %>
      </td>
      <td>
          <%= user_status(membership) %>&nbsp;
          <% if membership.user.invitation_accepted_at %>
            <%= membership.user.invitation_accepted_at.strftime("%d %b %Y") %>
          <% end %>
      </td>
      <td>
        <div class="dropdown">
          <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= fa_icon("ellipsis-h lg") %>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <%= link_to membership, class: "btn btn-link dropdown-item" do %>
              <%= fa_icon("id-card", text: "Show", right: true) %>
            <%end %>
            <%= link_to [membership.user, membership], method: :delete, remote: true,
            data: { confirm: 'Caution! Clicking on confirm will permanently delete this record and all corresponding data',
            verify: 'YES', verify_text: 'Type "YES" to confirm'},
              class: "btn btn btn-link dropdown-item delete-membership"  do %>
              <%= fa_icon("trash", text: "Delete") %>
            <% end %>
          </div>
        </div>
      </td>
    </tr>
  <% else %>
    <li  id="membership-<%= membership.id %>">
      <%= link_to membership.school.name, school_path(membership.school) %>
    </li>
  <% end %>
<% end %>
