<div class="container py-2">
  <div class="card-deck py-2">
    <div class="card border-primary">
      <div class="card-body">
        <h4 class="card-title">
          Registered School Members&nbsp;<span class="badge badge-info"><%= @school.users.size %></span>
        </h4>
        <h6 class="card-subtitle mb-2 text-muted">
          This list includes all the people that were invited and confirmed. It should
          comprise of all Educators, Learners, Parents/Guardians and Other (e.g. SGB members) people that will have
          some sort of role in the school.
        </h6>
        <div class="d-flex justify-content-between mb-2">
        <%= link_to @school, class: "btn btn-sm btn-outline-primary" do %>
          <%= fa_icon("arrow-left", text: "Back") %>
        <% end %>
        <a class="btn btn-sm btn-info" data-toggle="collapse" href="#collapseRegistrationHelp" aria-expanded="false" aria-controls="collapseRegistrationHelp">
          <%= fa_icon("info-circle", text: "Registration Guide") %>
        </a>
        </div>
        <div class="collapse" id="collapseRegistrationHelp">
          <%= render "registration_help" %>
        </div>
      </div>
    </div>
    <div class="card border-primary">
      <div class="card-body">
        <%= form_with(model: [@school, Membership.new], local: true, id: :new_membership, class: :new_membership ) do |f| %>
        <h4 class="card-title">
          Invite teachers, students and parents to register
        </h4>
          <div class="form-group">
            <%= f.label :email, "Email address" %>
            <%= f.email_field :email, id: :membership_email, class: "form-control", required: true, placeholder: "Type the email of the person you want to invite" %>
          </div>
          <div class="actions">
            <%= f.submit "Send invitation", class: "btn btn-primary btn-sm" %>
          </div>
      <% end %>
      </div>
    </div>
  </div>

  <%= form_with scope: :membership, url: edit_multiple_school_memberships_path(@school), method: :get,  local: true  do %>
    <table class="table table-responsive">
      <thead>
        <tr>
          <th></th>
          <th>Role</th>
          <th>Name and Email</th>
          <th>Confirmed</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="list-members">
          <%= render @school.memberships %>
      </tbody>
    </table>
    <div class="actions">
      <%= submit_tag "Edit selected records ", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
<%#= render "modal_dialog" %>
