<div class="container">
  <h1>Subject</h1>
  <div class="card-group">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"><%= @subject.name %></h4>
        <h6 class="card-subtitle mb-2 text-muted">Description</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

        <%= link_to 'Back', subjects_path, class: "btn btn-sm btn-outline-primary" %>
        <%= link_to 'Edit subject', edit_subject_path(@subject), class: "btn btn-sm btn-primary" %>

        <div id="list-courses" class="list-group py-2">
          <% unless @subject.courses.empty? %>
          <%= render @subject.courses %>
          <% else %>
             <a href="#" class="list-group-item list-group-item-action list-group-item-info nothing-to-list">Nothing to List</a>
          <% end %>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Create a grade and subject combination (aka Course)</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <button class="btn btn-sm btn-outline-primary" type="button" data-toggle="collapse" data-target="#add-course-form" aria-expanded="false" aria-controls="add-course-form">
          <%= fa_icon "plus-circle" %> Add a Grade to create a course&nbsp;
        </button>
        <div class="collapse" id="add-course-form">
          <p><%= render "courses/new_form" %></p>
        </div>
      </div>
    </div>
  </div> <!-- .card-group -->
</div>
