<%= form_with(model: [@registration_klass.school, @registration_klass], method: :patch, id: :edit_registration_klass, class: :edit_registration_klass, local: true) do |form| %>
  <h4><%= @registration_klass.school.name %></h4>

  <div class="errors"></div>

  <div class="form-group">
    <%= form.label :klass_type, "Is this a Subject Class or a Registration Class?" %><br>
    <% RegistrationKlass.klass_types.keys.map do |klass_type| %>
      <label class="custom-control custom-radio">
        <%= form.radio_button :klass_type, klass_type, class: "custom-control-input" %>
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description"><%= klass_type.humanize %></span>
      </label>
    <% end %>
  </div>
  <div class="form-group">
    <%= form.label :name, "Class name" %>
    <%= form.text_field :name, id: :registration_klass_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :course_id %>
    <%= form.collection_select :course_id, Course.order(:name), :id, :name, { }, {class: "form-control"} %>
    <!-- TODO add autocomplete to find course_name with course_selection_controller -->
  </div>

  <div class="form-group">
    <%= form.label :year, "Academic Year" %>
    <%= form.date_select :year,
        selected: Date.today,
        discard_day: true, discard_month: true,
        end_year: Date.today.year,
        prompt: { year: 'Select year' },
        class: "form-control" %>
  </div>

  <div class="actions d-flex justify-content-between">
    <div>
      <%= link_to 'Cancel', [@registration_klass.school, @registration_klass ], class: "btn btn-outline-primary" %>
    </div>
    <div>
      <%= form.submit "Update class details", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
