<%= form_with(model: [@school, RegistrationKlass.new], id: :new_registration_klass, class: :new_registration_klass, local: true) do |form| %>
  <div class="row">
    <div class="col">
      <% if @registration_klass.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@registration_klass.errors.count, "error") %> prohibited this assessment from being saved:</h2>
          <ul>
          <% @registration_klass.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div> <!-- first .row -->
  <div class="row">
    <div class="col-sm-7 col-lg-8">
      <div class="form-group">
        <%= form.label :name, "Name of Class, Team or Group" %>
        <%= form.text_field :name, id: :registration_klass_name, class: "form-control", required: true %>
        <small id="classNameHelp" class="form-text text-info">Unique Name of Class/Group</small>
      </div>
      <p>
        Select type of group.
        <%= render "group_type_selection" %>
      </p>
      <%= form.fields_for :data, OpenStruct.new(@registration_klass.data) do |d| %>
        <div class="form-group">
          <%= d.label :group_type, "The type of Group, i.e. class, team etc." %>
          <%= d.text_field :group_type, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= d.label :sport_type, "Indicate the type of sport" %>
          <%= d.text_field :sport_type, class: "form-control" %>
        </div>
      <% end %>
      <div class="form-group">
        <%= form.label :course_name, "Grade and Subject Name" %>
        <%= form.text_field :course_name, data: { autocomplete_source: school_courses_path },
          placeholder: "Type the name of subject or grade",
          class: "string required form-control",
          id: "registration_klass_course_name" %>
          <small id="courseNameHelp" class="form-text text-info">Name of Grade and Subject</small>
      </div>

      <div class="form-group">
        <%= form.label :year, "Academic Year" %>
        <%= form.date_select :year,
          selected: Date.today,
          discard_day: true, discard_month: true,
          end_year: Date.today.year,
          prompt: { year: 'Select year' },
          class: "form-control" %>
      </div>

      <%= form.fields_for :data, OpenStruct.new(@registration_klass.data) do |d| %>
        <div class="form-group">
          <%= d.label :more_information, "More information" %>
          <%= d.text_area :more_information, class: "form-control" %>
        </div>
      <% end %>
      <div class="d-none d-sm-block">
        <div class="btn-group">
          <%= link_to school_registration_klasses_path(@school), class: "btn btn-lg btn-outline-primary" do %>
            <%= fa_icon("times", text: "Cancel") %>
          <% end %>
          <%= form.submit "Save Class/Team", class: "btn btn-lg btn-primary" %>
        </div>
      </div>
    </div>
    <div class="col-sm-5 col-lg-4" id="list_teachers_check_boxes">
      <h4 class="text-white">Select teachers</h4>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="checkAll">
          <label class="form-check-label" for="checkAll">
            Select All
          </label>
        </div>
        <hr>
      <div class="form-group">
        <div class="collection-check-boxes">
          <%= form.collection_check_boxes :user_ids, User.with_role(:educator, @school), :id, :full_name do |b| %>
          <label class="form-check">
            <%= b.check_box class: "form-check-input box" %>
            <span class="form-check-label"><%= b.label %></span>
          </label>
          <% end %>
        </div>
      </div>
      <div class=" d-block d-sm-none">
        <div class="btn-group">
          <%= link_to school_registration_klasses_path(@school), class: "btn btn-lg btn-outline-primary" do %>
            <%= fa_icon("times", text: "Cancel") %>
          <% end %>
          <%= form.submit "Save Class/Team", class: "btn btn-lg btn-primary" %>
        </div>
      </div>
    </div>
    <div class="col-sm-5 col-lg-4" id="list_teachers_radio_buttons">
      <h4 class="text-white"> Select Teacher</h4>
      <p class="text-info">You will be able to add the Learners or Substitute Teacher later.</p>
      <div class="form-group">
        <h5><%= form.label :user_id, "Names of Teachers", class: "form-label" %></h5>
            <!-- TODO how to filter users to shorten the lookup list on checkbox -->
        <div class="collection-check-boxes">
          <%= form.collection_radio_buttons :user_ids, User.with_role(:educator, @school), :id, :full_name do |b| %>
          <label class="form-check">
            <%= b.radio_button class: "form-check-input" %>
            <span class="form-check-label"><%= b.label %></span>
          </label>
          <% end %>
        </div>
      </div>
      <div class="d-block d-sm-none">
        <div class="btn-group">
        <%= link_to school_registration_klasses_path(@school), class: "btn btn-lg btn-outline-primary" do %>
          <%= fa_icon("times", text: "Cancel") %>
        <% end %>
        <%= form.submit "Save Class/Team", class: "btn btn-lg btn-primary" %>
      </div>
      </div>
    </div>
  </div>

<% end %>
