<%= form_with(model: [@school, RegistrationKlass.new], id: :new_registration_klass, class: :new_registration_klass) do |form| %>

  <h4><%= @school.name %></h4>

  <div class="errors"></div>

  <div class="form-group">
    <%= form.label :klass_type, "Is this a Subject Class or a Registration Class?" %><br>
    <% RegistrationKlass.klass_types.keys.map do |klass_type| %>
      <label class="custom-control custom-radio">
        <%= form.radio_button :klass_type, klass_type, class: "custom-control-input" %>
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description"><%= klass_type.humanize %></span>
      </label>
    <% end %>
  </div>

  <!-- <div class="form-group"> -->
    <%#= form.label :course_id %>
    <%#= form.collection_select :course_id, Course.order(:name), :id, :course_description, { }, {class: "form-control"} %>
    <!-- TODO add autocomplete to find course_name with course_selection_controller -->
  <!-- </div> -->
  <div class="form-group">
    <%= form.text_field :course_name, data: { autocomplete_source: school_courses_path },
      placeholder: "Type the name of subject or grade",
      class: "string required form-control ui-front regklass_course_name",
      id: "registration_klass_course_name" %>
      <small id="courseNameHelp" class="form-text text-info">
        Name of subject/grade combination. For a registration class type "registration".
      </small>
  </div>
  <div class="form-group">
    <%= form.label :name, "Give your class a unique name" %>
    <%= form.text_field :name, id: :registration_klass_name, class: "form-control",
        placeholder: "Give your class a unique name", required: true %>
        <small id="courseNameHelp" class="form-text text-info">
          Example: Ms. Parker's Grade 11 Mathematics or Mr. Ndlovu's Grade 11 Creative Arts etc.
        </small>
  </div>

  <div class="form-group">
    <%= form.label :year %>
    <%= form.date_select :year,
        selected: Date.today,
        discard_day: true, discard_month: true,
        end_year: Date.today.year,
        prompt: { year: 'Select year' },
        class: "form-control" %>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" id="createRegistrationKlass">Cancel</button>
    <%= form.submit "Save class", class: "btn btn-primary" %>
  </div>

<% end %>
