<tr id="registration-klass-<%= registration_klass.id %>">
  <td><%= link_to registration_klass.name, [registration_klass.school, registration_klass] %></td>
  <td><%= registration_klass.klass_type.humanize %></td>
  <td><%= registration_klass.course.name %></td>
  <td><%= registration_klass.year.strftime("%Y") %></td>
  <td><%= link_to 'Destroy', [registration_klass.school, registration_klass], method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
