<!-- registration_klasses sidebar_links  -->
<li>
  <a class="app-menu__item active" id="class-home-tab" data-toggle="pill" href="#class-home" role="tab" aria-controls="class-home" aria-selected="true">
    <%= fa_icon("graduation-cap fw", class: "app-menu__icon mr-2") %>
    <span class="app-menu__label">
      <%= @registration_klass.course_name.truncate(35) %>
    </span>
  </a>
</li>
<%# if @registration_klass.subject_class? %>
<li>
  <a class="app-menu__item" id="lesson-plans-tab" data-toggle="pill" href="#lesson-plans" role="tab" aria-controls="lesson_plans" aria-selected="false">
    <%= fa_icon("book", class: "app-menu__icon mr-2") %>
    <span class="app-menu__label">
      Lesson Plans&nbsp;<span id="sizeLessonPlans2" class="badge badge-info"></span>
    </span>
  </a>
</li>
<%# end %>
<li>
  <a class="app-menu__item" id="class-achievements-tab" data-toggle="pill" href="#class-achievements" role="tab" aria-controls="" aria-selected="false">
    <%= fa_icon("trophy", class: "app-menu__icon mr-2") %>
    <span class="app-menu__label">
      Achievements&nbsp;<span id="sizeAchievements2" class="badge badge-info"></span>
    </span>
  </a>
</li>
<li>
  <a class="app-menu__item" id="class-goals-tab" data-toggle="pill" href="#class-goals" role="tab" aria-controls="" aria-selected="false">
    <%= fa_icon("star", class: "app-menu__icon mr-2") %>
    <span class="app-menu__label">
      Goals&nbsp;<span id="sizeGoals2" class="badge badge-info"></span>
    </span>
  </a>
</li>
<li>
  <a class="app-menu__item" id="class-teachers-guide-tab" data-toggle="pill" href="#class-teachers-guide" role="tab" aria-controls="" aria-selected="false">
    <%= fa_icon("map-signs fw", class: "app-menu__icon mr-2") %>
    <span class="app-menu__label">
      Teacher's Guide&nbsp;<span id="sizeGoals2" class="badge badge-info"></span>
    </span>
  </a>
</li>
