<!-- registration_klasses/tab_home  -->
<div class="app-title" aria-label="breadcrumb">
  <div>
    <h1 class="h2">
      <% if @registration_klass.klass_type == "subject_class" %>
        <%= fa_icon("graduation-cap") %>
        &nbsp;<%= @registration_klass.course_name %>
        &nbsp;Class
      <% else %>
      <%= fa_icon("graduation-cap") %>
        &nbsp;<%= @registration_klass.course_name %>
        &nbsp;Class
      <% end %>
    </h1>
    <p>Monitor, Evaluate and Improve</p>
  </div>
  <ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to "Registration and Subject Classes Index", school_registration_klasses_path(@registration_klass.school) %>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <%= @registration_klass.course_name %> - <%= @registration_klass.year.strftime("%Y") %>
    </li>
  </ul>
</div>
<div class="jumbotron">
  <div class="row">
    <div class="col-2 d-none d-sm-block">
      <div class="card">
        <img class="card-img-top" data-src="holder.js/100x100?auto=yes&theme=sky&text=logo" />
      </div>
    </div>
    <div class="col-12 col-xl-10">
      <h1 class="h2 text-white"><%= @registration_klass.name %></h1>
      <h2 class="h4">&nbsp;<%= @registration_klass.course_name %> - <%= @registration_klass.year.strftime("%Y") %></h2>
      <h3 class="h4 text-white">
        <%= fa_icon "users", text: "Learners" %>&nbsp;
        <span class="badge badge-success"><%= @registration_klass.learners.size %></span>
      </h3>
      <p class="lead text-info">Note. You can also add learners by clicking on the "Edit" button</p>
      <hr>
      <div class="row mb-2">
        <div class="col-lg-6">
          <div class="btn-group" role="group">

          <%= link_to school_registration_klasses_path(@registration_klass.school),
            data: {toggle: "tooltip"}, title: "Back to class list", class: "btn btn-lg btn-outline-primary" do %>
            <%= fa_icon("arrow-left", text: "Back") %>
          <% end %>

            <% unless @registration_klass.school_faculty? %>
              <%= link_to edit_school_registration_klass_path(@registration_klass.school, @registration_klass),
                data: {toggle: "tooltip"}, title: "Edit class and/or Add Learners", class: "btn btn-lg btn-primary" do %>
                <%= fa_icon "pencil-alt", text: "Edit class" %>
              <% end %>
            <% else %>
              <%= link_to select_faculty_school_registration_klass_path(@registration_klass.school, @registration_klass),
                data: {toggle: "tooltip"}, title: "Edit and/or Add faculty members", class: "btn btn-lg btn-secondary " do %>
                <%= fa_icon "pencil-square", text: "Edit faculty" %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-lg-6">
          <%= link_to new_registration_klass_user_registration_path(@registration_klass), remote: true,
            data: {toggle: "tooltip"}, title: "Add another teacher", class: "btn btn-lg btn-outline-primary btn-block-xs"  do %>
            <%= fa_icon("plus", text: "Add teacher") %>
          <% end %>
        </div>
      </div>
    </div>
  </div> <!-- .row -->
</div> <!-- .jumbotron -->
<%= render "user_registrations/modal_dialog" %>
