<div class="app-title" aria-label="breadcrumb">
  <div>
    <h1 class="h2"><%= fa_icon("star", text: "Class Goals") %></h1>
    <p>Monitor, Evaluate and Improve</p>
  </div>
  <ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to "Registration and Subject Classes Index", school_registration_klasses_path(@registration_klass.school) %>
    </li>
    <li class="breadcrumb-item">
      <a href="#"><%= @registration_klass.course_name %> - <%= @registration_klass.year.strftime("%Y") %></a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      Class Goals
    </li>
  </ul>
</div>
<div class="jumbotron">
  <div class="row">
    <div class="col-12 col-xl-10 offset-xl-1">
      <h1 class="h2 text-white">Achieving Our Goals Together&nbsp;<small><span class="badge badge-info" id="sizeClassGoals"></span></small></h1>
      <h2 class="h3 text-info"><%= @registration_klass.name %></h2>
      <h3 class="h4"><%= @registration_klass.course_name %> - <%= @registration_klass.year.strftime("%Y") %></h3>
      <hr>
      <%= link_to new_registration_klass_goal_path(@registration_klass), remote: true,
      class: "btn btn-lg btn-primary btn-block-xs" do %>
      <%= fa_icon("plus", text: "Add a Class Goal") %>
      <% end %>
    </div>
  </div>
</div>

<% if @registration_klass.goals.any? %>
  <div class="row d-flex" id="list-goals">
    <%= render "goals/goals", goalable: @registration_klass %>
  </div>
<% else %>
  <div class="row d-flex">
    <%= render "goals/goal_placeholder" %>
  </div>
<% end %>
