<div class="app-title" aria-label="breadcrumb">
  <div>
    <h1 class="h2"><%= fa_icon("trophy", text: "Celebrating Our Achievements") %></h1>
    <p>Monitor, Evaluate and Improve</p>
  </div>
  <ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to "Registration and Subject Classes Index", school_registration_klasses_path(@registration_klass.school) %>
    </li>
    <li class="breadcrumb-item">
      <a href="#"><%= @registration_klass.course_name %> - <%= @registration_klass.year.strftime("%Y") %></a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      Achievements
    </li>
  </ul>
</div>
<div class="jumbotron jumbo-bg">
  <div class="row">
    <div class="col-12 col-xl-10 offset-xl-1">
      <h1 class="h2 text-white">Class Achievements&nbsp;
        <small><span class="badge badge-info" id="sizeClassAchievements1"></span></small>
      </h1>
      <h2 class="h3 text-info"><%= @registration_klass.name %></h2>
      <h3 class="h4"><%= @registration_klass.course_name %> - <%= @registration_klass.year.strftime("%Y") %></h3>

      <p class="text-white">
        Remember to celebrate both <strong>big</strong> and <strong>small</strong> achievements.
        You know when you have those <em>"Yes. I did it!"</em> moments? List all of those here.
      </p>
      <%= link_to new_registration_klass_achievement_path(@registration_klass), remote: true, class: "btn btn-lg btn-primary btn-block-xs" do %>
      <%= fa_icon("plus-square", text: "Add an Achievement") %>
      <% end %>
    </div>
  </div>
</div>
<!-- FIXME investigate why first achievement element created does not render but subsequent ones do -->
<div class="d-flex flex-wrap justify-content-start align-items-stretch" id="list-achievements">
  <% if @registration_klass.achievements.any? %>
      <%= render "achievements/achievements", achievable: @registration_klass %>
  <% else %>
      <%= render "achievements/achievement_placeholder" %>
  <% end %>
</div>
