<div class="container pt-3">
  <h1>Registration and Subject Classes </h1>
  <div class="py-2">
    <%= link_to@school, class: "btn btn-sm btn-outline-primary" do %>
      <%= fa_icon "university" %> Back to School page
    <% end %>
    <%= link_to 'Create a new Registration or Subject Class', new_school_registration_klass_path(@school),
      remote: true, class: "btn btn-sm btn-primary" %>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Class Name</th>
        <th>Class Type</th>
        <th>Course</th>
        <th>Year</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody id="list-registration-klasses">
      <%= render @school.registration_klasses %>
    </tbody>
  </table>
</div>
<!-- modal dialog for creating registration classes -->
<!-- form via modal_dialog  -->

<%= render "modal_dialog" %>
