<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card border-primary my-3">
        <h5 class="card-header">
          <div class="d-flex justify-content-between">
            <div>
              <%= fa_icon "graduation-cap" %>&nbsp;<%= @registration_klass.subject_class? ? "Subject " : "" %>
              <br> <small> <%= @registration_klass.course_name %></small>
            </div>
            <span class="badge badge-light"><%= @registration_klass.year.strftime("%Y") %></span>
          </div>
        </h5>
        <div class="card-body text-primary">
          <h4 class="card-title">
            <%= @registration_klass.name %>
          </h4>
          <h6 class="card-subtitle text-muted"><%= @registration_klass.school.name.truncate(50) %></h6>
          <p class="card-text">
            <small class="text-muted"><%= @registration_klass.course_name %></small>
          </p>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-between">
            <div class="p-1">
              <%= link_to @registration_klass.school, class: "btn btn-sm btn-outline-primary" do %>
                <%= fa_icon "chevron-left" %>&nbsp;School page
              <% end %>
              <%= link_to school_registration_klasses_path(@school), class: "btn btn-sm btn-outline-dark" do %>
                <%= fa_icon "list" %>&nbsp;View all classes
              <% end %>
            </div>
            <div class="p-1">
              <%= link_to edit_school_registration_klass_path(@registration_klass.school, @registration_klass), class: "btn btn-sm btn-primary" do %>
                <%= fa_icon "pencil-square" %>&nbsp;Edit details
              <% end %>
            </div>
          </div>
        </div>
        <% if @registration_klass.subject_class? %>
          <%= render "registration_klasses/lesson_plans_card" %>
        <% end %>
      </div>
    </div> <!-- .col -->

    <div class="col-sm">
      <div class="card border-primary my-3">
        <h4 class="card-header">
          <div class="d-flex justify-content-between">
          <div>
            <%= fa_icon "users" %>&nbsp;Class List
          </div>
          <div>
            <%= link_to new_registration_klass_user_registration_path(@registration_klass), remote: true, class: "btn btn-sm btn-primary" do %>
              <%= fa_icon "user-plus" %>&nbsp;Add a Learner/Teacher
            <% end %>
          </div>
        </div>
          <!-- TODO redesign to view people in cards with their head pics and key demographic details -->
        </h4>
        <ul id="list-user-registrations" class="list-group">
          <% if @registration_klass.user_registrations.any? %>
            <%= render @registration_klass.user_registrations %>
          <% else %>
            <li class="list-group-item list-group-item-action list-group-item-info no-user-registrations-to-list">
              No people to list
            </li>
          <% end %>
        </ul>
      </div>
    </div> <!-- .col -->
  </div> <!-- .row -->

  <div class="row">
    <div class="col-md-6">

    </div>
  </div>
</div> <!-- .container -->

<!-- modal forms-->
<div class="collapse" id="add-registration-form">
  <p><%= render "user_registrations/new_form" %></p>
</div>
<%= render "user_registrations/modal_dialog" %>

<div class="collapse" id="add-lesson-plan-form">
  <p><%= render "lesson_plans/new_form" %></p>
</div>
<%= render "lesson_plans/modal_dialog" %>
