<% content_for :title do %>fp - <%= @registration_klass.course_name %><% end %>
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
  <%= render "sidebar_user" %>
  <ul class="app-menu nav flex-column nav-pills">
    <%= render "sidebar_links" %>
  </ul>
</aside>
    <!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane fade show active" id="class-home" role="tabpanel">
    <%= render "tab_content_home" %>
    <%= render "tab_content_user_registrations" %>
  </div>
  <%# if current_user.has_any_role?(:admin, :faculty) %>
    <!-- true -->
  <div class="tab-pane" id="lesson-plans" role="tabpanel">
      <%= render "tab_content_lesson_plans" %>
  </div>
  <div class="tab-pane" id="class-goals" role="tabpanel">
    <%= render "tab_content_goals" %>
  </div>
  <div class="tab-pane" id="class-achievements" role="tabpanel">
    <%= render "tab_content_achievements" %>
  </div>
  <div class="tab-pane" id="class-teachers-guide" role="tabpanel">
    <%= render "tab_content_teachers_guide" %>
  </div>
</div>
 <!-- .tab-content -->

<!-- modals -->
<%= render "achievements/modal_dialog" %>
<%= render "lesson_plans/modal_dialog" %>
<%= render "goals/modal_dialog" %>
<%#= render "user_registrations/modal_dialog" %>
