<% addressable.addresses.each do |address| %>
<div class="col-md-6 address-card"  id="<%= dom_id(address) %>">
  <div class="card text-white bg-dark border-info">
    <div class="card-header">
      <%= address.address_type.humanize %>&nbsp;Address
    </div>
    <div class="card-body">
      <h4 class="card-title"><%= address.address %></h4>
      <p class="card-text">Postal address</p>
      <p class="card-text">Telephone number</p>
      <p class="card-text">Cell phone number</p>
    </div>
    <div class="card-footer">

      <div class="btn-group" role="group">
          <%= link_to [address.addressable, address], remote: true, method: :delete,
            data: { confirm: "Are you sure you want do delete this? If yes click on 'Confirm' to continue.", toggle: "tooltip" },
            class: "delete-address btn btn-danger",
            title: "Deleting address" do %>
            <%= fa_icon("trash-alt", text: "Delete", style: "regular") %>
          <% end %>

          <%= link_to edit_polymorphic_path([address.addressable, address]),
            remote: true, class: "btn btn-primary" do %>
            <%= fa_icon("edit", text: "Edit Address") %>
          <% end %>
        </div>
    </div>
  </div>
</div>
<% end %>
