<%= form_with(model: [@addressable, address], local: true) do |form| %>
  <% if address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_field :address, id: :address_address, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :address_type, "Indicate type of address" %><br>
    <% Address.address_types.keys.map do |address_type| %>
      <label class="custom-control custom-radio">
        <%= form.radio_button :address_type, address_type, class: "custom-control-input" %>
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description"><%= address_type.humanize %></span>
      </label>
    <% end %>
  </div>
  <div class="actions">
    <% if action_name == "edit" %>
      <%= link_to 'Cancel', polymorphic_path([@addressable, Address]), class: "btn btn-outline-primary" %>
      <% else %>
      <%= link_to 'Cancel', polymorphic_path([@addressable, @address]), class: "btn btn-outline-primary" %>
    <% end %>
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
