<!-- school sidebar links -->
<li>
  <a id="home-tab" class="app-menu__item active" href="#home" role="tab" data-toggle="pill" aria-controls="home" aria-selected="true">
    <%= fa_icon("university fw",class: "app-menu__icon mr-2") %>
    <span class="app-menu__label">
      School Home
    </span>
  </a>
</li>
<li>
  <a class="app-menu__item" id="dashboard-tab" data-toggle="pill" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="false">
    <%= fa_icon("tachometer-alt fw", class: "app-menu__icon mr-2") %>
    <span class="app-menu__label">
      Dashboard
    </span>
  </a>
</li>
<li>
  <a class="app-menu__item" id="school-memberships-tab" data-toggle="pill" href="#school-memberships" role="tab" aria-controls="school-memberships" aria-selected="false">
    <%= fa_icon("users fw", class: "app-menu__icon mr-2") %>
    <span class="app-menu__label">
      Memberships&nbsp;<span id="sizeMemberships2" class="badge badge-info"><%= @school.memberships.size %></span>
    </span>
  </a>
</li>
<li>
  <a class="app-menu__item" id="school-registration-classes-tab" data-toggle="pill" href="#school-registration-classes" role="tab" aria-controls="school-registration-classes" aria-selected="false">
    <%= fa_icon("graduation-cap fw", class: "app-menu__icon mr-2") %>
    <span class="app-menu__label">
      Classes
    </span>
  </a>
</li>

<li>
  <a class="app-menu__item" id="school-goals-tab" data-toggle="pill" href="#school-goals" role="tab" aria-controls="school-goals" aria-selected="false">
    <%= fa_icon("star fw", class: "app-menu__icon mr-2") %>
    <span class="app-menu__label">
      Our Goals&nbsp;<span id="sizeGoals2" class="badge badge-info"></span>
    </span>
  </a>
</li>
<li>
  <a class="app-menu__item" id="school-achievements-tab" data-toggle="pill" href="#school-achievements" role="tab" aria-controls="school-achievements" aria-selected="false">
    <%= fa_icon("trophy fw", class: "app-menu__icon mr-2") %>
    <span class="app-menu__label">
      Our Achievements&nbsp;<span id="sizeAchievements2" class="badge badge-info"></span>
    </span>
  </a>
</li>
<li>
  <a class="app-menu__item" id="school-events-tab" data-toggle="pill" href="#school-events" role="tab" aria-controls="school-events" aria-selected="false">
    <%= fa_icon("fort-awesome", class: "app-menu__icon mr-2", type: "brand") %>
    <span class="app-menu__label">
      Upcoming Events&nbsp;<span id="sizeEvents2" class="badge badge-info"></span>
    </span>
  </a>
</li>
<li>
  <a class="app-menu__item" id="school-fees-tab" data-toggle="pill" href="#school-fees" role="tab" aria-controls="school-fees" aria-selected="false">
    <%= fa_icon("money-bill-alt fw", class: "app-menu__icon mr-2") %>
    <span class="app-menu__label">
      School Fees
    </span>
  </a>
</li>

<li>
  <a class="app-menu__item" id="school-addresses-tab" href="#school-addresses" data-toggle="pill" role="tab" aria-controls="school-addresses" aria-selected="false">
    <%= fa_icon("map-marker fw", class: "app-menu__icon mr-2") %>
    <span class="app-menu__label">
      Contact details <span id="sizeAddresses2" class="badge badge-info"></span>
    </span>
  </a>
</li>

<li>
  <%= link_to current_user, class: "app-menu__item", aria: {selected: false}  do %>
    <%= fa_icon "fw smile", class: "app-menu__icon mr-2"%>
    <span class="app-menu__label">
      My page
    </span>
  <% end %>
</li>
