<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">School home</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">School Events</li>
  </ol>
</nav>
<div class="jumbotron">
  <div class="col-xl-10 offset-xl-1">
    <h1><%= fa_icon("fw fort-awesome", text: "Upcoming School Events", type: "brand") %>
      &nbsp;<small><span class="badge badge-info"><%= @school.events.newer_than(Time.now).size %></span></small> </h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <hr>
    <%= link_to school_events_path(@school), class: "btn btn-lg btn-primary" do %>
      <%= fa_icon("calendar-plus", text: "View and Add Events") %>
    <% end %>
  </div>
</div>

<% if @school.events.any? %>
  <div class="row d-flex flex-wrap" id="list-goals">
    <%= render @school.events.newer_than(1.month.ago) %>
  </div>
<% else %>
  <ul class="list-group">
    <li class="list-group-item list-group-item-active no-goals-to-list">
      Nothing to list
    </li>
  </ul>
<% end %>
