<nav aria-label="breadcrumb">
  <ol class="breadcrumb ">
    <li class="breadcrumb-item">
      <a href="#">School home</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">School Memberships</li>
  </ol>
</nav>
<div class="jumbotron">
  <div class="row">
    <div class="col-xl-10 offset-xl-1">
      <h1><%= fa_icon("users", text: "Member Registrations") %>&nbsp;<span class="badge badge-info"><%= @school.users.size %></span></h1>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-5 offset-xl-1">
      <%= link_to school_memberships_path(@school), class: "btn btn-lg btn-primary" do %>
        <%= fa_icon("users", text: "Manage School Memberships") %>
      <% end %>
    </div>
    <div class="col-xl-5">
      <button type="button" class="btn btn-lg btn-info btn-block" data-toggle="collapse" data-target="#collapseInvitationForm" aria-expanded="false" aria-controls="collapseInvitationForm">
        <%= fa_icon("chevron-down", text: "Invite people to register", right: true) %>
      </button>
      <div class="collapse mt-2" id="collapseInvitationForm">
        <div class="card text-white bg-success">
          <div class="card-body">
            <%= form_with(model: [@school, Membership.new], local: true, id: :new_membership, class: :new_membership ) do |f| %>
              <div class="form-group">
                <%= f.label :email, "Email address" %>
                <%= f.email_field :email, id: :membership_email, class: "form-control", required: true, placeholder: "Type the email of the person you want to invite" %>
              </div>
              <div class="actions">
                <%= f.submit "Send invitation", class: "btn btn-primary" %>&nbsp;
                <button type="button" name="sendInvitation" class="btn btn-primary" disabled>
                  <%= fa_icon("paper-plane") %>
                </button>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <!-- #collapseInvitationForm  -->
    </div>
    <!-- .col -->
  </div>
  <!-- .row -->
</div>
<!-- .jumbotron -->
<%= render "schools/memberships/registration_help" %>


<%#= render "edit_multiple_form" %>

<%#= render "modal_dialog" %>
