<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"><%= @school.name %></h4>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Special title treatment</h4>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
<div class="">
  <div class="row">
    <div class="col">
      <h2>Users</h2>
      <% @school.users.each do |user| %>
        <div class="">
          <%= user.email %>, <%= user.try(:invitation_accepted_at) %>
        </div>
      <% end %>
    </div>
    <div class="col">
      <h3>Invite someone</h3>
      <%= form_with(model: [@school, Membership.new] ) do |f| %>
        <div class="form-group">
          <%= f.text_field :email, class: "form-control" %>
        </div>
        <div class="actions">
          <%= f.submit %>
        </div>
      <% end %>
      <%= link_to 'Edit', edit_school_path(@school) %> |
      <%= link_to 'Back', schools_path %>
    </div>
  </div>
</div>
