<div class="row py-2">
  <div class="col-sm">
    <div class="card"> <!-- card 1/3 -->
      <div class="card-body">
        <h4 class="card-title">School ID: <%= @school.id %></h4>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

        <a href="#" class="btn btn-sm btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card"> <!-- card 2/3  -->
      <div class="card-body">
        <h4 class="card-title"><%= fa_icon "university" %>&nbsp;<%= @school.name %></h4>
        <p class="card-text">Other school stuff.</p>
        <div class="d-flex justify-content-between">
          <div>
            <%= link_to current_user, class: "btn btn-sm btn-outline-primary" do %>
              <%= fa_icon "smile-o" %>&nbsp;Back to my page
            <% end %>
          </div>
          <div>
            <%= link_to 'Edit details', edit_school_path(@school), class: "btn btn-sm btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm">
    <div class="card"> <!-- card 3/3 -->
      <div class="card-body">
        <h4 class="card-title">Special title treatment</h4>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-sm btn-primary">Go somewhere</a>
      </div>
    </div> <!-- .card -->
  </div> <!-- .col--->
</div> <!-- .row  1-->

<div class="row py-2"> <!-- .row 2 -->
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"><%= fa_icon "users" %>&nbsp;Staff and Students</h4>
        <p class="card-text">Number of users: <span class="badge badge-info"><%= @school.users.size %></span></p>

        <%= link_to "View all registered users", school_memberships_path(@school), class: "btn btn-primary btn-sm" %>

      </div>
    </div>
  </div>
    <!-- TODO check why there is this error when resending an invitation to an exisiting unconfirmed user
      Error performing ActionMailer::DeliveryJob
      (Job ID: ......) from Async(mailers)
      NoMethodError (undefined method `email' for nil:NilClass):
    -->
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"><%= fa_icon "graduation-cap" %>&nbsp;Registration and Subject Classes</h4>
          <p class="card-text">Number of classes: <span class="badge badge-info"><%= @school.registration_klasses.size %></span></p>
            <%= link_to "View all Registration and Subject Classes", school_registration_klasses_path(@school),
                class: "btn btn-sm btn-primary" %>
        </div>
      </div>
    </div>
</div>
<div class="row py-2"> <!-- .row 3 -->
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Other stuff</h4>
        <p class="card-text">Number of other stuff: <span class="badge badge-info"> 100</span></p>
          <%= link_to "Other stuff", "#",
              class: "btn btn-sm btn-primary" %>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Classes</h4>
        <p class="card-text">description about classes.</p>

      </div>
    </div>
  </div>
</div>
