<% content_for :title do %>fp School Home<% end %>
<!-- school show view  -->
<!-- TODO add a tagline for Achievements Goals etc. -->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
  <%= render "sidebar_user" %>
  <ul class="app-menu nav flex-column nav-pills">
    <%= render "sidebar_links" %>
  </ul>
</aside>
    <!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane fade show active" id="home" role="tabpanel">
    <%= render "tab_content_home" %>
  </div>

  <div class="tab-pane fade" id="dashboard" role="tabpanel">
    <%= render "tab_content_dashboard" %>
  </div>

  <div class="tab-pane fade" id="school-memberships" role="tabpanel">
    <%= render "tab_content_memberships" %>
  </div>

  <div class="tab-pane fade" id="school-registration-classes" role="tabpanel">
    <%= render "tab_content_registration_klasses" %>
  </div>

  <div class="tab-pane fade" id="school-subject-classes" role="tabpanel">
    <%= render "tab_content_subject_klasses" %>
  </div>

  <div class="tab-pane fade" id="school-achievements" role="tabpanel">
    <%= render "tab_content_achievements" %>
  </div>
  <div class="tab-pane fade" id="school-goals" role="tabpanel">
    <%= render "tab_content_goals" %>
  </div>
  <div class="tab-pane fade" id="school-events" role="tabpanel">
    <%= render "tab_content_events" %>
  </div>
  <div class="tab-pane fade" id="school-fees" role="tabpanel">
    <%= render "tab_content_fees" %>
  </div>
  <div class="tab-pane fade" id="school-addresses" role="tabpanel">
    <%= render "tab_content_addresses" %>
  </div>
</div> <!-- .tab-content -->

<!-- modals  -->
<%= render "achievements/modal_dialog" %>
<%= render "goals/modal_dialog" %>
<%= render "registration_klasses/modal_dialog" %>
<%= render "fees/modal_dialog" %>
<%= render "addresses/modal_dialog" %>
