<!-- action_plans/action_plan -->
<li id="<%= dom_id(action_plan) %>" class="list-group-item">
  <div class="row">
    <div class="col-sm-1">
      <!-- form -->
      <!-- TODO add cross-out checkbox for crossing out todos -->
      <% if action_plan.when_date %>
        <!-- display only if a date is present -->
        <%= form_with(model: [@goal, action_plan], method: :patch, class: :edit_action_plan) do |f| %>
          <div class="form-check">
            <label class="form-check-label">
              <%= f.check_box :completed, class: "form-check-input position-static",
                  data: {toggle: "tooltip", placement: "top" }, title: "Check to complete action plan",
                  aria: {label: "completed"} %>
            </label>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-8">
      <!-- action_plan helper -->
      <%= action_to_do_span(action_plan) %>&nbsp;
      <%= action_plan.what %>
      <br>
      <small>
        <%= fa_icon("calendar") %>&nbsp;<em>Complete by&nbsp;
        <%= action_plan.when_date ? action_plan.when_date.strftime("%d %b %Y") : "-" %></em>&nbsp;
        <%= fa_icon("user") %>&nbsp;<em><%= action_plan.who ? action_plan.who : "-"  %></em>
      </small>
    </div>
    <div class="col-md-3">
      <div class="btn-group" role="group">
        <%= link_to [action_plan.goal, action_plan], method: :delete, remote: true,
        data: {toggle: "tooltip", placement: "top", confirm: 'Are you sure you want to delete this action plan?', title: "Deleting Action Plan" },
        class: "btn btn-sm btn-danger delete-action-plan" do %>
        <%= fa_icon("trash-alt", text: "Delete", type: "regular") %>
        <% end %>
      </div>
      <%= link_to edit_goal_action_plan_path(action_plan.goal, action_plan), remote: true,
          class: "btn btn-sm btn-primary",
          data: {toggle: "tooltip", placement: "right", title: "Edit Todo/Action" } do %>
        <%= fa_icon("edit", text: "Edit") %>
      <% end %>
    </div>
  </div>

</li>
