<%= form_with(model:[@subject, course], local: true, id: :edit_course, class: :edit_class) do |form| %>
<div class="row">
  <div class="col-sm-6">

    <% if course.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

        <ul>
        <% course.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, id: :course_name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :subject_id %>
        <%= form.collection_select(:subject_id, Subject.order(:name), :id, :name, { }, {class: "form-control"}) %>
        <!-- ensure that the current subject is selected by using where(id: subject) -->
      </div>
      <div class="form-group">
        <%= form.label :grade_id %>
        <%= form.collection_select(:grade_id, Grade.order(:name), :id, :name, { }, {class: "form-control"}) %>
      </div>

      <div class="form-group">
        <% Course.subject_types.keys.map do |subject_type| %>
          <label class="custom-control custom-radio">
            <%= form.radio_button :subject_type, subject_type, class: "custom-control-input" %>
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description"><%= subject_type.humanize %></span>
          </label>
        <% end %>
      </div>

      <div class="actions">
        <%= form.submit class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
