<%= form_with(model:[@subject, Course.new], id: :new_course, class: :new_course) do |form| %>
  <div class="errors"></div>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :course_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :subject_id %>
    <%= form.collection_select(:subject_id, Subject.where(id: @subject), :id, :name, { }, {class: "form-control", readonly: "readonly"}) %>
    <!-- ensure that the current subject is selected by using where(id: subject) -->
  </div>
  <div class="form-group">
    <%= form.label :grade_id %>
    <%= form.collection_select(:grade_id, Grade.order(:name), :id, :name, { }, {class: "form-control"}) %>
  </div>

  <div class="form-group">
    <% Course.subject_types.keys.map do |subject_type| %>
      <label class="form-check-label form-check-inline">
        <%= form.radio_button :subject_type, subject_type, class: "form-check-input" %>
        <span class="form-check-label"><%= subject_type.humanize %></span>
      </label>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
