

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @course.grade.name %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @course.subject.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @course.subject_type.humanize %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
