<div class="card border-primary mr-1" id="<%= dom_id(fee) %>" style="width: 19rem;">
  <div class="card-header">
    School Fee&nbsp;<%= fee.year.strftime("%Y") %>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= fee.name %></h5>
    <h5 class="card-subtitle text-info"><%= number_to_currency(fee.amount, precision: 2, unit: "R") %></h5>
  </div>
  <div class="card-footer">
    <%= link_to [fee.school, fee], class: "btn btn-primary" do %>
      <%= fa_icon("expand", text: "Show") %>
    <% end %>
  </div>
</div>
