<%= form_with(model: [@goalable, @goal], id: :edit_goal, class: :edit_goal) do |form| %>
  <div class="errors"></div>
  <div class="row my-2">
    <div class="col-sm-9">
      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, id: :goal_name, class: "form-control goal_name" %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <%= fa_icon("calendar") %>&nbsp;<%= form.label :deadline %>
        <%= form.text_field :deadline, id: :goal_deadline, class: "form-control datetimepicker" %>
      </div>
    </div>
  </div> <!-- .row -->

  <div class="form-group">
    <%= fa_icon("check-square") %>&nbsp;<%= form.label :achievability, "Is this goal achievable?" %>
    <% Goal.achievabilities.keys.map do |achievability| %>
      <label class="custom-control custom-radio">
        <%= form.radio_button :achievability, achievability, class: "custom-control-input" %>
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description"><%= achievability.humanize %></span>
      </label>
    <% end %>
  </div>

  <div class="row my-2">
    <div class="col-sm-9">
      <div class="form-group">
        <%= fa_icon("thumbs-o-up") %>&nbsp;<%= form.label :measurement, "How will success be measured?" %>
        <%= form.text_field :measurement, id: :goal_measurement,
            class: "form-control", placeholder: "How will you know you have been succesful?"  %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <%= fa_icon("user") %>&nbsp;<%= form.label :person_responsible %>
        <%= form.text_field :person_responsible, id: :goal_person_responsible,
            class: "form-control", placeholder: "One or more people" %>
      </div>
    </div>
  </div>  <!-- .row -->

  <div class="row">
    <div class="col-sm-9">
      <div class="form-group">
        <%= fa_icon("check-square") %>&nbsp;<%= form.label :achieved, "Was this goal achieved?" %>
        <% Goal.achieveds.keys.map do |achieved| %>
          <label class="custom-control custom-radio">
            <%= form.radio_button :achieved, achieved, class: "custom-control-input" %>
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description"><%= achieved.humanize %></span>
          </label>
        <% end %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <%= fa_icon("calendar") %>&nbsp;<%= form.label :completed_at, "Date Completed" %>
        <%= form.text_field :completed_at, id: :goal_completed_at, class: "form-control datetimepicker" %>
      </div>
    </div>
  </div>  <!-- .row -->

  <hr>
  <div class="d-flex justify-content-between">
    <% if action_name == "edit" %>
      <%= link_to 'Cancel', polymorphic_path([@goalable, @goal]), class: "btn btn-outline-primary" %>
      <% else %>
      <%= link_to 'Cancel', polymorphic_path([@goalable, Goal]), class: "btn btn-outline-primary" %>
    <% end %>
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
