<% goalable.goals.each do |goal| %>
  <div class="col-sm-4">
    <div class="card border-primary mb-3" id="goal-<%= goal.id %>">
      <div class="card-body text-dark">
        <h4 class="card-title"><%= goal.name %></h4>
          <p class="card-text"><strong>Deadline:</strong> <%= goal.deadline.strftime("%d %b %Y") if goal.deadline %></p>
          <p class="card-text"><strong>Status:</strong> <%= goal.achieved.humanize %></p>
          <% if goal.yes? %>
            <p class="card-text"><strong>Date completed:</strong> <%= goal.completed_at.strftime("%d %b %Y") if goal.completed_at %></p>
          <% end %>
        </dl>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
<% end %>
