<% goalable.goals.each do |goal| %>
  <div class="col-sm-4">
    <div class="card border-primary mb-3" id="goal-<%= goal.id %>">
      <div class="card-body text-dark">
        <h4 class="card-title"><%= goal.name %></h4>
        <dl class="row">
          <dt class="col-sm-5">Deadline:</dt>
          <dd class="col-sm-7"><%= goal.deadline.strftime("%d %b %Y") if goal.deadline %></dd>

          <dt class="col-sm-5">Status</dt>
          <dd class="col-sm-7"><%= goal.achieved.humanize %></dd>
          <% if goal.yes? %>
            <dt class="col-sm-5">Date completed:</dt>
            <dd class="col-sm-7"><%= goal.completed_at.strftime("%d %b %Y") if goal.completed_at %></dd>
          <% end %>
        </dl>
      </div>
    </div>
  </div>
<% end %>
