<%= form_with(model: [@goalable, Goal.new], id: :new_goal, class: :new_goal) do |form| %>
  <div class="errors"> </div>
   <div class="form-group">
      <%= form.label :name, "Describe your goal" %>
      <%= form.text_field :name, id: :goal_name, class: "form-control goal_name",
          placeholder: "What do you want to achieve?", required: true %>
    </div>
    <div class="row">
      <div class="from-group col-md-3">
        <%= form.label :deadline, "When is this due?" %>
        <%= form.text_field :deadline, id: :goal_deadline, autocomplete: "off", class: "form-control datetimepicker",
        placeholder: "Due date?", required: true %>
      </div>
    </div>
    <div class="card-footer mt-2">
      <div class="btn-group">
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">
          <%= fa_icon("times", text: "Cancel") %>
        </button>
        <%= form.submit class: "btn btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>

<%# if action_name == "edit" %>
<%#= link_to 'Cancel', polymorphic_path([@goalable, Goal]), class: "btn btn-sm btn-outline-primary" %>
<%# else %>
<%#= link_to 'Cancel', polymorphic_path([@goalable, Goal]), class: "btn btn-sm btn-outline-primary" %>
<%# end %>
