<%= form_with(model: [@goalable, goal], local: true) do |form| %>
  <% if goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(goal.errors.count, "error") %> prohibited this goal from being saved:</h2>
      <ul>
      <% goal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-row">
    <div class="col-sm-8">
      <%= form.text_field :name, id: :goal_name, class: "form-control",
          placeholder: "Describe your goal", required: true %>
    </div>
    <div class="col-sm-2">
      <%= form.text_field :deadline, id: :goal_deadline, class: "form-control datepicker", 
        placeholder: "Due date?", required: true %>
    </div>
    <div class="col-sm-2">
      <%# if action_name == "edit" %>
        <%#= link_to 'Cancel', polymorphic_path([@goalable, Goal]), class: "btn btn-sm btn-outline-primary" %>
        <%# else %>
        <%#= link_to 'Cancel', polymorphic_path([@goalable, Goal]), class: "btn btn-sm btn-outline-primary" %>
      <%# end %>
      <%= form.submit class: "btn btn btn-primary" %>
    </div>
  </div>


<% end %>
