<div class="card border-primary mb-3">
  <div class="card-header">
    <div class="row">
      <div class="col-sm-9">
        <h4>
          <%= link_to polymorphic_path([@goalable, Goal]), class: "btn btn-sm btn-outline-primary" do %>
            <%= fa_icon("arrow-left", text: "Back") %>
            <% end %>
            Goal
          </h4>
      </div>
      <div class="col-sm-3">
        <%= link_to edit_polymorphic_path([@goalable, @goal]), class: "btn btn-sm btn-primary" do %>
          <%= fa_icon("pencil", text: "Edit goal") %>
          <% end %>
      </div>
    </div>
  </div>
  <div class="card-body text-dark">
    <h4 class="card-title">
      <%= @goal.name %>
    </h4>
    <dl class="row">
      <dt class="col-sm-5">Deadline:</dt>
      <dd class="col-sm-7"><%= @goal.deadline.strftime("%d %b %Y") if @goal.deadline %></dd>

      <dt class="col-sm-5">Is this goal achievable?</dt>
      <dd class="col-sm-7"><%= @goal.achievability.humanize %></dd>

      <dt class="col-sm-5">How will you know if you succeeded?</dt>
      <dd class="col-sm-7"><%= @goal.measurement ? @goal.measurement : "¯\\_(ツ)_/¯ " %></dd>

      <dt class="col-sm-5">Who is reponsible?</dt>
      <dd class="col-sm-7"><%= @goal.person_responsible ? @goal.person_responsible : " (Ͼ˳Ͽ)..!!! "%></dd>

      <dt class="col-sm-5">Was this goal achieved?</dt>
      <dd class="col-sm-7"><%= @goal.achieved.humanize %></dd>

      <dt class="col-sm-5">Date completed:</dt>
      <dd class="col-sm-7"><%= @goal.completed_at ? @goal.completed_at.strftime("%d %b %Y") : "Working on it... (-.-)Zzz..."  %></dd>
    </dl>

  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-sm-7">
        <h5>
        <%= fa_icon "comment-o" %>&nbsp;Comments&nbsp;
        <span class="badge badge-info"><%= @goal.comments.size %></span>
        </h5>
      </div>
      <div class="col-sm-5">
        <%= link_to "#collapseComments", class: "btn btn-sm btn-outline-primary",
            data: { toggle: "collapse" }, aria: {expanded: false} do %>
        <%= fa_icon("comment", text: "Add or Read Comments") %>
        <% end %>
      </div>
    </div>
    <div class="my-2">
    <!-- list comments here -->
      <div class="collapse" id="collapseComments">
        <ul id="list-comments" class="list-group">
          <% if @goal.comments.any? %>
            <%= render "comments/comments", commentable: @goal %>
          <% else %>
            <li class="list-group-item list-group-item-info no-comments-to-list">
              Nobody has commented yet.
            </li>
          <% end %>
        </ul>
          <%= render "comments/form", commentable: @goal %>
      </div>
    </div>
  </div>

</div> <!-- .card -->
