<div class="app-title" aria-label="breadcrumb">
  <div>
    <h1 class="h2">
      <%= fa_icon("star") %>&nbsp;<%= show_name_display(@goal) %>
      and <%= fa_icon("calendar-check", text: "Action Plans") %>
    </h1>
    <p>Monitor, Evaluate and Improve</p>
  </div>
  <ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item">
      <%= link_generator(@goal) %>
    </li>
    <li class="breadcrumb-item">
      <a href="#"><%= show_name_display(@goal) %></a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">ToDo's & Action Plans</li>
  </ul>
</div>

<h1 class="h2">
  ToDo's&nbsp;<small><span class="badge badge-info" id="sizeTasks"></span></small>&nbsp;
  and Action Plans&nbsp;<small><span class="badge badge-success" id="sizeActionPlans1"></span></small>
</h1>
<p class="lead text-info">The things you need to do to achieve your goal</p>
<p class="text-primary h5"><%= @goal.name %></p>
<hr>
<div class="row">
  <div class="col-xl-10">
    <!-- card action plan -->
    <div class="card text-white bg-dark mb-3">
      <div class="card-header">
        <h4 class="card-title">
          Completed Actions&nbsp;<span class="badge badge-success" id="sizeCompleted">
        </h4>
      </div><!-- .card-header -->
      <div class="card-body">
        <div class="row">
          <div class="col-lg-9">
            <p class="card-text text-white">
              Add&nbsp;<%= fa_icon "check-square", text: "Todo's" %>&nbsp;
              and turn them into&nbsp;<%= fa_icon("calendar-check", text: "Action Plans", type: "regular") %>
            </p>
          </div>
          <div class="col-lg-3">
            <%= link_to new_goal_action_plan_path(@goal), remote: true,
            class: "btn btn-primary" do %>
            <%= fa_icon "plus-square", text: "Add a Todo" %>
            <% end %>
          </div>
        </div> <!-- .row -->
        <p class="card-text text-info">
          <%= fa_icon("arrows-alt ", text: "Click & Drag items up or down in the list in order of importance.") %><br />
          <%= fa_icon("edit", text: "Click on Edit to turn Todo into Action Plan") %>
        </p>
      </div><!-- .card-body-->
      <%= render "list_action_plans" %>
    </div><!-- .card -->
  </div>
</div>
