<div class="container">
    <div class="row pt-2">
      <div class="col-md-6">
        <%= render "show_card" %>
      </div><!-- .col -->
      <div class="col-md-6">
        <div class="card border-info">
          <div class="card-header d-flex justify-content-between">
            <h4>
              <%= fa_icon("check-square-o", text: "To Do list and Action Plans") %>
            </h4>
            <div>
              <%= link_to "#collapseSteps",
                  data: {toggle: "collapse"},
                  aria: {"controls": "collapseSteps", "expanded": false, } do %>
                    <%= fa_icon("question-circle", text: "How to?") %>
                  <% end %>
            </div>
          </div>
          <div class="collapse" id="collapseSteps">
            <!-- .card-body -->
            <%= render "action_plans/how_to_action_plan" %>
          </div>
          <div class="card-footer">
            <div class="card-title d-flex justify-content-between">
              <div>
                <%= fa_icon "check-square-o", text: "To Dos" %>&nbsp;
                <%= fa_icon("arrow-right") %>&nbsp;
                <%= fa_icon("calendar-check-o", text: "Action Plans") %> &nbsp;
                <button type="button" class="btn btn-sm btn-light" data-toggle="tooltip" data-placement="top" title="Turn ToDos into Action Plans!">
                  <%= fa_icon("info-circle") %>
                </button>
              </div>
              <%= link_to new_goal_action_plan_path(@goal), remote: true, class: "btn btn-sm btn-primary" do %>
                <%= fa_icon "plus-square" %>&nbsp;Add a To Do
              <% end %>
            </div>
            <small>
              <%= fa_icon("arrows", text: "Sort items by dragging and dropping up or down in the list.") %><br>
              <%= fa_icon("pencil", text: "Click on 'Edit' to add a date and people") %>
            </small>
          </div>
          <%= render "list_of_action_plans" %>
        </div><!-- .card -->
      </div><!-- .col -->
  </div><!-- .row -->
</div><!-- .container-->
<!-- modal forms-->
<!-- <div class="collapse" id="add-action-plan-form">
  <p><%#= render "action_plans/new_todo_form" %></p>
</div> -->
<%= render "action_plans/modal_dialog" %>
