<% content_for :title do %>fp Goal and Action Plans<% end %>
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
  <%= render "sidebar_user" %>
  <ul class="app-menu nav flex-column nav-pills">
    <%= render "sidebar_links" %>
  </ul>
</aside>
<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane fade show active" id="goal-home" role="tabpanel">
    <%= render "tab_content_home" %>
  </div>
  <div class="tab-pane" id="goal-action-plans" role="tabpanel">
    <%= render "tab_content_action_plans" %>
  </div>
  <div class="tab-pane" id="about-goals" role="tabpanel">
    <%= render "tab_content_about_goals" %>
  </div>
  <div class="tab-pane" id="defining-goals" role="tabpanel">
    <%= render "tab_content_defining_goals" %>
  </div>
  <div class="tab-pane" id="smart-goals" role="tabpanel">
    <%= render "tab_content_smart_goals" %>
  </div>
</div> <!-- .tab-content -->

<%= render "goals/modal_dialog" %>
<%= render "action_plans/modal_dialog" %>
<%= render "action_plans/how_to_action_plan" %>
