<!-- achievements/achievement -->
<% achievable.achievements.each do |achievement| %>
  <div class="card border-success bg-dark mr-1 mb-1 achievement-card scale" style="max-width: 19rem;" id="<%= dom_id(achievement) %>">
    <div class="card-header">
      Achievement
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= achievement.title %></h5>
      <h6 class="cad-subtitle"><%= achievement.date.strftime("%d %b %Y") %></h6>
      <p class="card-text"><%= achievement.description %></p>
    </div>
    <div class="card-footer">
      <div class="btn-group" role="group">
          <%= link_to [achievement.achievable, achievement], remote: true, method: :delete,
              data: { confirm: 'Are you sure you want do delete this?', toggle: "tooltip" },
              class: "delete-achievement btn btn-danger", title: "Delete Achievement" do %>
            <%= fa_icon("trash-alt", text: "Delete", style: "regular") %>
          <% end %>

          <%= link_to edit_polymorphic_path([achievement.achievable, achievement]),
              remote: true, data: {toggle: "tooltip"}, class: "btn btn-primary", title: "Edit Achievement" do %>
              <%= fa_icon("edit", text: "Edit") %>
            <% end %>
      </div>
    </div>
  </div>
<% end %>
