<li id="attendance-<%= attendance.id %>" class="list-group-item" >
  <div class="row">
    <div class="col-sm-4">
      <%= link_to edit_polymorphic_path([attendance.attendable, attendance], remote: true) do %>
      <%= fa_icon "calendar-minus-o" %>&nbsp;<%= attendance.date.strftime("%d %b %Y") %>
      <% end %>
    </div>
    <div class="col-sm-7">
      <%= attendance.comment %>
    </div>
    <div class="col-sm-1">
      <%= link_to [attendance.attendable, attendance], method: :delete, remote: true,
        data: { confirm: 'Are you sure?' },
        class: "btn btn-danger btn-link delete-attendance" do %>
          <span class="text-danger"><i class="fa fa-trash" aria-hidden="true"></i></span>
        <% end %>
    </div>
  </div>
</li>
