<!-- user_registrations/attendances TODO calculate attendance as percentage of number of school days-->
<div class="col-sm-3 attendance-card" id="<%= dom_id(attendance) %>">
  <div class="card border-primary mb-3 scale">
    <div class="card-header">Day Absent</div>
    <div class="card-body">
        <h4 class="card-title"><%= fa_icon "calendar-minus", type: "regular" %>&nbsp; <%= attendance.date.strftime("%d %b %Y") %></h4>
        <p class="card-text"><%= attendance.comment %></p>
    </div> <!-- .card-body -->
    <div class="card-footer">
      <div class="row">
        <div class="col">
          <%= link_to [attendance.attendable, attendance], method: :delete, remote: true,
            data: { confirm: 'Deleting attendance record! Click on confirm if you are serious about this.' },
            class: "btn btn-sm btn-danger btn-block-xs delete-attendance" do %>
              <%= fa_icon("trash", text: "Delete") %>
            <% end %>
        </div>
        <div class="col">
          <%= link_to edit_polymorphic_path([attendance.attendable, attendance]),
              remote: true, class: "btn btn-sm btn-primary  btn-block-xs" do %>
            <%= fa_icon "edit", text: "Edit" %>
          <% end %>
        </div>
      </div>
    </div>
  </div><!-- .card -->
</div> <!-- .col-sm-3 -->
