<%= form_with(model: [@user_registration.registration_klass, @user_registration], method: :patch, id: :edit_user_registration, class: :edit_user_registration) do |form| %>

  <p> <strong><%= @user_registration.registration_klass.name %></strong> </p>

  <div class="errors"></div>

  <div class="form-group row">
    <%= form.label :user_id, "Name of Student/Teacher", class: "col-4 col-form-label" %>
    <div class="col-8">
      <input type="text" readonly class="form-control" id="staticName" value="<%= @user_registration.user.full_name %>">
      <!-- TODO create a scope to select users who are members of this school -->
    </div>
  </div>
  <div class="form-group">
    <%= form.label :user_type, "Is this person a Learner or a Teacher?" %><br>
    <% UserRegistration.user_types.keys.map do |user_type| %>
      <label class="form-check-inline">
        <%= form.radio_button :user_type, user_type, class: "form-check-input" %>
        <span class="form-check-label"><%= user_type.humanize %></span>
      </label>
    <% end %>
  </div>

  <div class="form-group">
    <label class="form-check">
      <%= form.check_box :completed, class: "form-check-input" %>
      <span class="form-check-label">
        <p class="">
          <%= fa_icon("check", text: "Check box to mark student/teacher as completed for the current year.") %>
        </p>
      </span>
    </label>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" data-dismiss="modal"> <%= fa_icon("times", text: "Cancel") %></button>
    <%= form.submit "Save changes", class: "btn btn-primary" %>
  </div>

<% end %>
