<%= form_with(model: [@user_registration.registration_klass, @user_registration], local: true, id: :edit_user_registration, class: :edit_user_registration) do |form| %>

  <h4>
    <%= @user_registration.registration_klass.name %>
  </h4>
  <% if @user_registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_registration.errors.count, "error") %> prohibited this grade from being saved:</h2>

      <ul>
      <% @user_registration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label :user_id, "Name of Student/Teacher", class: "col-4 col-form-label" %>
    <div class="col-8">
      <input type="text" readonly class="form-control" id="staticName" value="<%= @user_registration.user.full_name %>">
      <!-- TODO create a scope to select users who are members of this school -->
    </div>
  </div>
  <%= form.fields_for :details, OpenStruct.new(@user_registration.details) do |d| %>
    <div class="form-group">
      <%= d.label :general_info, "General information" %>
      <%= d.text_field :general_info, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= d.label :player_info, "Sports - Player information" %>
      <%= d.text_field :player_info, class: "form-control" %>
    </div>
  <% end %>

  <div class="form-group">
    <label class="form-check">
      <%= form.check_box :completed, class: "form-check-input" %>
      <span class="form-check-label">
        <p class="">
          <%= fa_icon("check", text: "Check box to mark student/teacher as completed for the current year.") %>
        </p>
      </span>
    </label>
  </div>

  <div class="btn-group">
      <%= link_to [@user_registration.registration_klass, @user_registration],
        class: "btn btn-lg btn-outline-primary" do %>
        <%= fa_icon("arrow-left", text: "Back") %>
      <% end %>
      <%= form.submit "Save changes", class: "btn btn-lg btn-primary" %>
    </div>
<% end %>
