<%= form_with(model: [@registration_klass, UserRegistration.new], id: :new_user_registration, class: :new_user_registration) do |form| %>

  <p><strong><%= @registration_klass.name %></strong> </p>
  <div class="errors"></div>

  <div class="form-group row">
  <%= form.label :user_id, "Name of Teacher", class: "col-4 col-form-label" %>
    <div class="col">
      <%= form.collection_select :user_id, User.with_role(:educator, @registration_klass.school),
        :id, :full_name, {prompt: "Select a teacher"}, {class: "form-control user_registration_user_select"} %>
    </div>
  </div>
  <%= form.fields_for :details, OpenStruct.new(@user_registration.details) do |d| %>
    <div class="form-group">
      <%= d.label :general_info, "General information" %>
      <%= d.text_field :general_info, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= d.label :player_info, "Sports - Player information" %>
      <%= d.text_field :player_info, class: "form-control" %>
    </div>
  <% end %>
  <div class="modal-footer">
    <button type="button" class="btn btn-lg btn-outline-primary" data-dismiss="modal" id="createuser_registration">Cancel</button>
    <%= form.submit "Save Registration", class: "btn btn-lg btn-primary" %>
  </div>

<% end %>
