<%= form_with(model: [@registration_klass, UserRegistration.new], id: :new_user_registration, class: :new_user_registration) do |form| %>

  <p><strong><%= @registration_klass.name %></strong> </p>
  <div class="errors"></div>

  <div class="form-group row">
  <%= form.label :user_id, "Name of Teacher", class: "col-4 col-form-label" %>
    <div class="col">
      <!-- TODO create a scope to select users who are members of this school -->
      <%= form.collection_select :user_id, User.registered_teachers,
        :id, :full_name, {prompt: "Select a teacher"}, {class: "form-control user_registration_user_select"} %>
    </div>
  </div>
  <div class="form-group">
    <!-- TODO change this to check box to identify the teacher as a subsitute teacher -->
    <%= form.label :user_type, "Is this person the regular Teacher or a Substitute Teacher?" %><br>
    <% UserRegistration.user_types.except("learner").keys.map do |user_type| %>
      <label class="form-check-inline">
        <%= form.radio_button :user_type, user_type, class: "form-check-input" %>
        <span class="form-check-label"><%= user_type.humanize %></span>
      </label>
    <% end %>
  </div>
  <div class="form-check mb-2">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
    <label class="form-check-label" for="defaultCheck1">
      TODO Substitute Teacher
    </label>
  </div>


  <div class="modal-footer">
    <button type="button" class="btn btn-lg btn-outline-primary" data-dismiss="modal" id="createuser_registration">Cancel</button>
    <%= form.submit "Save Registration", class: "btn btn-lg btn-primary" %>
  </div>

<% end %>
