<!-- user_registrations sidebar_links  -->
<li>
  <a class="app-menu__item active" id="user-reg-home-tab" data-toggle="pill" href="#user-reg-home" role="tab" aria-controls="user-registration-home" aria-selected="true">
    <%= fa_icon("user-circle fw", class: "app-menu__icon mr-2") %>
    <span class="app-menu__label">
      <%= @user_registration.user_name %>
    </span>
  </a>
</li>

<% if @registration_klass.group_type != "Registration Class" %>
<li>
  <a class="app-menu__item" id="user-reg-goals-tab" data-toggle="pill" href="#user-reg-goals" role="tab" aria-controls="" aria-selected="false">
    <%= fa_icon("star fw", class: "app-menu__icon mr-2") %>
    <span class="app-menu__label">
      My Subject Goals&nbsp;<span id="sizeGoals2" class="badge badge-info"></span>
    </span>
  </a>
</li>
<li>
  <a class="app-menu__item" id="user-reg-achievements-tab" data-toggle="pill" href="#user-reg-achievements" role="tab" aria-controls="" aria-selected="false">
    <%= fa_icon("trophy fw", class: "app-menu__icon mr-2") %>
    <span class="app-menu__label">
      My Achievements&nbsp;<span id="sizeAchievements2" class="badge badge-info"></span>
    </span>
  </a>
</li>
<% end %>

<% if @registration_klass.group_type == "Registration Class" %>
<li>
  <a class="app-menu__item" id="user-reg-attendances-tab" data-toggle="pill" href="#user-reg-attendances" role="tab" aria-controls="" aria-selected="false">
    <%= fa_icon("calendar-minus fw", class: "app-menu__icon mr-2", type: "regular") %>
    <span class="app-menu__label">
      Attendance Record&nbsp;<span id="daysAbsent2" class="badge badge-info">
    </span>
  </a>
</li>
<% end %>
<% if @registration_klass.group_type == "Faculty" %>
<li>
  <a class="app-menu__item" id="user-reg-goals-tab" data-toggle="pill" href="#user-reg-goals" role="tab" aria-controls="" aria-selected="false">
    <%= fa_icon("calendar-check-o fw", class: "app-menu__icon mr-2") %>
    <span class="app-menu__label">
      My Faculty Goals & Action plans&nbsp;
      <span id="sizeGoals2" class="badge badge-info">?</span>
    </span>
  </a>
</li>
<li>
  <a class="app-menu__item" id="user-reg-achievements-tab" data-toggle="pill" href="#user-reg-achievements" role="tab" aria-controls="" aria-selected="false">
      <%= fa_icon("trophy fw", class: "app-menu__icon mr-2") %>
    <span class="app-menu__label">
      My Achievements&nbsp;<span id="sizeAchievements2" class="badge badge-info">?</span>
    </span>
  </a>
</li>
<li>
  <a class="app-menu__item" id="user-reg-attendances-tab" data-toggle="pill" href="#user-reg-attendances" role="tab" aria-controls="" aria-selected="false">
    <%= fa_icon("calendar-minus-o fw", class: "app-menu__icon mr-2") %>
    <span class="app-menu__label">
      Attendance Record&nbsp;<span id="sizeAttendances2" class="badge badge-info">?</span>
    </span>
  </a>
</li>
<% end %>
