<!-- tab_content_goals -->
<div class="app-title" aria-label="breadcrumb">
  <div>
    <h1 class="h2"><%= fa_icon("star", text: "My Subject Goals") %></h1>
    <p>Monitor, Evaluate and Improve</p>
  </div>
  <ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to school_registration_klass_path(@registration_klass.school, @registration_klass) do %>
        <%= @registration_klass.course_name %>
      <% end %>
    </li>
    <li class="breadcrumb-item active" aria-current="page">My Goals and Action Plans</li>
  </ul>
</div>

<div class="jumbotron">
  <div class="row">
    <div class="col-xl-10 offset-xl-1">
      <h1 class="h2">
        <%= @user_registration.registration_klass.subject_class? ? "My Subject Goals" : "Registration Class Goals" %>
        <small><span class="badge badge-info"><%= @user_registration.goals.size %></span></small>
      </h1>
      <h2 class="h5 text-info">
        <%= @user_registration.registration_klass_name %>&nbsp;
      </h2>
      <h3 class="h5">
        <%= @user_registration.registration_klass.course_name %>&nbsp;
        <span class="badge badge-dark"><%= @user_registration.registration_klass.year.strftime("%Y") %></span>
      </h3>
      <hr class="my-2">
      <%= link_to new_user_registration_goal_path(@user_registration), remote: true, class: "btn btn-lg btn-primary btn-block-xs" do %>
        <%= fa_icon("plus", text: "Add a Goal") %>
      <% end %>
    </div>
  </div>
</div>

<div class="d-flex flex-wrap justify-content-start align-items-stretch" id="list-goals">
  <% if @user_registration.goals.any? %>
      <%= render "goals/goals", goalable: @user_registration %>
  <% else %>
      <%= render "goals/goal_placeholder" %>
  <% end %>
</div>
