<!-- tab_content_attendances -->
<div class="app-title" aria-label="breadcrumb">
  <div>
    <h1 class="h2"><%= fa_icon("star", text: "Individual Attendance Record") %></h1>
    <p>Monitor, Evaluate and Improve</p>
  </div>
  <ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to school_registration_klass_path(@registration_klass.school, @registration_klass) do %>
        <%= @registration_klass.course_name %>
      <% end %>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Individual Attendance Record</li>
  </ul>
</div>
<div class="jumbotron">
  <div class="row">
    <div class="col-xl-10 offset-xl-1">
      <h2> <%= @user_registration.user_name %></h2>
      <p class="h4 text-info">
        <%= @user_registration.registration_klass.name %>&nbsp;
        <span class="badge badge-dark"><%= @user_registration.registration_klass.year.strftime("%Y") %></span>
      </p>
      <h4>
        <%= fa_icon "calendar-minus", text: "Attendance record:", type: "regular" %>&nbsp;
        <small>Days absent:&nbsp;<span class="badge badge-info" id="daysAbsent1"></span></small>
      </h4>
        <hr class="my-4">
      <%= link_to new_user_registration_attendance_path(@user_registration),
        remote: true, class: "btn btn-lg btn-primary btn-block-xs"  do %>
        <%= fa_icon("calendar-minus", text: "Record Day Absent") %>
      <% end %>
    </div>
  </div>
</div><!--.jumbotron -->

<!-- list attendances here -->
<% if @user_registration.attendances.any? %>
  <div id="list-attendances" class="row d-flex flex-wrap">
    <%= render "attendances/attendances", attendable: @user_registration %>
  </div>
<% else %>
  <ul class="list-group">
    <li class="list-group-item list-group-item-action no-attendances-to-list">
      No attendance recorded yet
    </li>
  </ul>
<% end %>
