<% content_for :title do %>Grade/Subject Registration <% end %>
<div class="row row-offcanvas row-offcanvas-right pt-2">
  <div class="col-12 col-md-9">
    <p class="float-right d-md-none">
      <button type="button" class="btn btn-primary btn-sm" data-toggle="offcanvas">
        <%= fa_icon("th-list") %>
      </button>
    </p>
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane fade show active" id="user-reg-home" role="tabpanel">
        <%= render "tab_content_home" %>
      </div>

      <div class="tab-pane" id="user-reg-goals" role="tabpanel">
        <%= render "tab_content_goals" %>
      </div>
      <div class="tab-pane" id="user-reg-achievements" role="tabpanel">
        <%= render "tab_content_achievements" %>
      </div>
      <div class="tab-pane" id="user-reg-attendances" role="tabpanel">
        <%= render "tab_content_attendances" %>
      </div>
    </div> <!-- .tab-content -->
  </div><!-- .col-12 .col-md-9-->
  <div id="sidebar" class="col-6 col-md-3 sidebar-offcanvas pt-1 nav flex-column nav-pills" role="tablist" aria-orientation="vertical" role="tablist" aria-orientation="vertical">
      <%= render "sidebar_links" %>
  </div><!-- #sidebar -->
</div> <!-- .row -->

<%= render "user_registrations/modal_dialog" %>
<%= render "achievements/modal_dialog" %>
<%= render "goals/modal_dialog" %>
<%= render "attendances/modal_dialog" %>
