<% content_for :title do %>fp Grade/Subject Registration<% end %>
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
  <%= render "sidebar_user" %>
  <ul class="app-menu nav flex-column nav-pills">
    <%= render "sidebar_links" %>
  </ul>
</aside>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane fade show active" id="user-reg-home" role="tabpanel">
    <%= render "tab_content_home" %>
  </div>

  <div class="tab-pane" id="user-reg-goals" role="tabpanel">
    <%= render "tab_content_goals" %>
  </div>
  <div class="tab-pane" id="user-reg-achievements" role="tabpanel">
    <%= render "tab_content_achievements" %>
  </div>
  <div class="tab-pane" id="user-reg-attendances" role="tabpanel">
    <%= render "tab_content_attendances" %>
  </div>
</div>
<!-- .tab-content -->


<%= render "user_registrations/modal_dialog" %>
<%= render "achievements/modal_dialog" %>
<%= render "goals/modal_dialog" %>
<%= render "attendances/modal_dialog" %>
