<div class="container">
  <div id="show-user-registration-card-<%= @user_registration.id %>">
    <div id="user-registration-card-<%= @user_registration.id %>" class="card border-primary my-3" style="max-width: 20rem;">
      <div class="card-header"><%= @user_registration.registration_klass.name %></div>
      <div class="card-body text-primary">
        <h4 class="card-title"><%= @user_registration.user_name %></h4>
        <p class="card-text">
           <span id="user-type">
             <%= render "user_type_display" %>
          </span>
          <%= @user_registration.completed ? "Completed on" : "Active" %> <%= @user_registration.try(:completed_at) %>
        </p>
        <%= link_to 'Back', school_user_registration_klass_path(@registration_klass.school, @registration_klass), class: "btn btn-sm btn-outline-primary" %>
        <%= link_to 'Edit', edit_registration_klass_user-registration_path(@user_registration.registration_klass, @user_registration), remote: true, class: "btn btn-sm btn-primary" %>
      </div>
    </div>
  </div>
</div>
<%= render "user_registrations/modal_dialog" %>
