<% attendable.attendances.each do |attendance| %>
  <li id="attendance-<%= attendance.id %>" class="list-group-item">
    <div class="d-flex justify-content-between">
      <div class="">
        <%= link_to edit_polymorphic_path([attendance.attendable, attendance]), remote: true, class: "btn" do %>
          <%= fa_icon "calendar-minus-o" %>&nbsp;<span class="badge badge-primary"><%= attendance.date.strftime("%d %b %Y") %></span>
          <% end %>
        <br>
        <%= attendance.comment %>
      </div>
      <div class="">
        <%= link_to [attendance.attendable, attendance], method: :delete, remote: true,
          data: { confirm: 'Deleting! Are you sure?' }, class: "btn delete-attendance" do %>
            <span class="badge badge-danger"><%= fa_icon("trash") %></span>
          <% end %>
      </div>
    </div>
  </li>
<% end %>
