<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li class='nav-item'>
    <%= link_to 'About', page_path('about'), class: 'nav-link' %>
  </li>
  <li class='nav-item'>
    <%= link_to 'Background', page_path('background'), class: 'nav-link' %>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Admin Tools
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <%= link_to "Schools", schools_path, class: "dropdown-item" %>
      <%= link_to "Users", users_path, class: "dropdown-item" %>
      <%= link_to "Assessment Types", assessment_types_path, class: "dropdown-item" %>
      <%= link_to "Assessment Tasks", assessment_tasks_path, class: "dropdown-item" %>
      <%= link_to 'Subjects', subjects_path, class: "dropdown-item" %>
      <%= link_to 'Grades', grades_path, class: "dropdown-item" %>
      <%= link_to 'Courses', courses_path, class: "dropdown-item" %>
    </div>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProfileLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= fa_icon "user" %>&nbsp;<%= current_user.name %>
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownProfileLink">
      <%= link_to 'My Profile Page',   current_user, class: 'dropdown-item' %>
      <%= link_to 'Edit My Account', edit_user_registration_path, class: 'dropdown-item' %>

    </div>
  </li>
  <li class="nav-item">
    <%= link_to destroy_user_session_path, :method=>'delete', data: {confirm: "Are you sure?"}, class: 'nav-link' do %>
    <%= fa_icon "sign-out" %> Sign out
    <% end %>
  </li>
<% else %>
  <li class='nav-item'>
    <%= link_to 'Background', page_path('background'), class: 'nav-link' %>
  </li>
  <li class='nav-item'>
    <%= link_to 'About', page_path('about'), class: 'nav-link' %>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown link
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <%= link_to "Schools", schools_path, class: "dropdown-item" %>
      <%= link_to "Users", users_path, class: "dropdown-item" %>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </li>
  <li class='nav-item'>
    <%= link_to new_user_session_path, class: 'nav-link' do %>
      <%= fa_icon "sign-in" %> Sign in
    <% end %>
  </li>
  <li class='nav-item'>
    <%= link_to new_user_registration_path, class: 'nav-link' do %>
      <%= fa_icon "magic" %> Sign up
    <% end %>
  </li>
<% end %>
